{% extends 'base.html.twig' %}

{% block title %}Geri Bildirim{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('place') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Geri Bildirim
            <small></small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li class="active"><a href="{{ path('app_feedback') }}">Geri Bildirim</a></li>
        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <!--
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                -->
                <!-- /.box-header -->
                <div class="box-body">
                    <form method="post" action="#">

                        <div class="col-md-6">

                            <div class="row">

                                <div class="col-md-12">


                                    <div class="form-group">

                                        <select id="business_category" name="konu" required="required"
                                                class="form-control">
                                            <option value="" selected="selected">Mesaj Konusunu Seçiniz</option>
                                            <option value="tavsiye">Yeni Özellik Tavsiyesi</option>
                                            <option value="hata">Yazılımsal Hata Bildirimi</option>
                                            <option value="other">Diğer</option>
                                        </select>


                                    </div>

                                </div>



                            </div>

                            <div class="row">

                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label>Mesajınız <span>*</span>
                                        </label>
                                        <textarea rows="10" class="form-control" name="description" required
                                                  placeholder="Bize iletmek istediğiniz mesajınızı buraya yazınız"></textarea>
                                    </div>

                                </div>



                            </div>

                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="form-group">

                                        <button type="submit" id="update_password_btn"
                                                class="btn btn-success">Mesaj Gönder
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="callout callout-success">
                                <p>
                                    Geri bildirimleriniz, sistemin geliştirilmesi hususunda bizim için çok değerlidir.
                                    Mesajlarınız mutlaka okunup dikkate alınacaktır.
                                </p>
                                <p>
                                    Bize ayırdığınız zaman için çok teşekkür ederiz...
                                </p>
                            </div>

                        </div>



                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>


    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('place') }}
{% endblock %}