{% extends 'base.html.twig' %}

{% block title %}Sipariş Listesi{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('product') }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Sipariş Listesi</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-12">

                        <div id="example1_wrapper"
                             class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
                            <table id="example1" class="table table-bordered table-striped
                                table-hover table-condensed
                                dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc">ID</th>
                                    <th class="sorting">Sipariş Kodu</th>
                                    <th class="sorting">Oluşturulma T.</th>
                                    <th class="sorting">Ad Soyad</th>
                                    <th class="sorting">E-Posta</th>
                                    <th class="sorting">Telefon</th>
                                    <th class="sorting">Durum</th>
                                    <th class="sorting"></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for o in orders %}

                                    {% if o.status == 'pending' %}
                                        {% set oStatus = 'warning' %}
                                    {% elseif o.status == 'processing' %}
                                        {% set oStatus = 'warning' %}
                                    {% elseif o.status == 'shipped' %}
                                        {% set oStatus = 'primary' %}
                                    {% elseif o.status == 'delivered' %}
                                        {% set oStatus = 'success' %}
                                    {% elseif o.status == 'cancelled' %}
                                        {% set oStatus = 'danger' %}
                                    {% endif %}


                                    <tr>
                                        <td>{{ o.id }}</td>
                                        <td>{{ o.code }}</td>
                                        <td>{{ o.orderDate|date('d-m-Y h:i:s') }}</td>
                                        <td>{{ o.name }} {{ o.surname }}</td>
                                        <td>{{ o.email }}</td>
                                        <td>{{ o.phone }}</td>
                                        <td><span class="label label-{{ oStatus }}">{{ o.status }}</span></td>
                                        <td>
                                            <a href="{{ path('show_order',{id:o.id}) }}" class="btn btn-xs btn-primary pull-left">Göster</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr>
                            {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Tebrikler!</h4>
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>


                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('product') }}
{% endblock %}
