{% extends 'base.html.twig' %}

{% block title %}Sipariş Detayı{% endblock %}

{% block body %}



    <div class="row">
        <div class="col-sm-6">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Müşteri Bilgileri</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ order.id }}</td>
                            </tr>
                            <tr>
                                <th>Sipariş Kodu</th>
                                <td>{{ order.code }}</td>
                            </tr>
                            <tr>
                                <th>Sipariş Tarihi</th>
                                <td>{{ order.orderDate|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <th>Ad</th>
                                <td>{{ order.name }}</td>
                            </tr>
                            <tr>
                                <th>Soyad</th>
                                <td>{{ order.surname }}</td>
                            </tr>
                            <tr>
                                <th>E-Posta</th>
                                <td>{{ order.email }}</td>
                            </tr>
                            <tr>
                                <th>Telefon</th>
                                <td>{{ order.phone }}</td>
                            </tr>
                            <tr>
                                <th>Teslimat Adresi</th>
                                <td>{{ order.adress }}</td>
                            </tr>
                            <tr>
                                <th>Fatura Adresi</th>
                                <td>{{ order.invoiceAddress }}</td>
                            </tr>

                            {% if order.status == 'pending' %}
                                {% set oStatus = 'warning' %}
                            {% elseif order.status == 'processing' %}
                                {% set oStatus = 'warning' %}
                            {% elseif order.status == 'shipped' %}
                                {% set oStatus = 'primary' %}
                            {% elseif order.status == 'delivered' %}
                                {% set oStatus = 'success' %}
                            {% elseif order.status == 'cancelled' %}
                                {% set oStatus = 'danger' %}
                            {% endif %}


                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

            </div>

        </div>

        <div class="col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">İşlemler</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-warning margin-r-5"></i> Sipariş Durumunu Değiştir</strong>

                    <p class="text-muted">
                    <form method="post" action="{{ path('update_order_status') }}">
                        <div class="input-group margin">
                            <select name="status" class="form-control">
                                <option value="pending" selected>Seçiniz</option>
                                <option value="pending">Beklemede</option>
                                <option value="processing">Sipariş onaylandı, hazırlanıyor</option>
                                <option value="shipped">Sipariş kargoya teslim edildi</option>
                                <option value="delivered">Sipariş başarıyla tamamlandı</option>
                                <option value="cancelled">Siparişi iptal et</option>
                            </select>
                            <input type="hidden" name="order_id" value="{{ order.id }}"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-success">Güncelle</button>
                            </div>
                        </div>
                    </form>
                    </p>

                    <hr>

                    <strong><i class="fa fa-question-circle margin-r-5"></i> Sipariş Durumu</strong>

                    <p class="text-muted"><span class="label label-{{ oStatus }}">
                            {% if order.status == 'pending' %}Sipariş henüz onaylanmadı, bekletiliyor. {% endif %}
                            {% if order.status == 'processing' %}Hazırlık aşamasında{% endif %}
                            {% if order.status == 'shipped' %}Kargoya Teslim Edildi{% endif %}
                            {% if order.status == 'delivered' %}Sipariş Tamamlandı{% endif %}
                            {% if order.status == 'cancelled' %}Sipariş İptal Edildi{% endif %}
                        </span>
                    </p>

                    <hr>

                    <p>

                        <a href="{{ path('show_order',{id:order.id,proforma:'true'}) }}"
                           class="btn bg-maroon" style="margin-right: 10px;"><i class="fa fa-download"></i> Proforma
                            PDF</a>

                        <a href="{{ path('show_order',{id:order.id,excel:'true'}) }}"
                           class="btn bg-olive" style="margin-right: 10px;"><i class="fa fa-download"></i> Proforma
                            EXCEL</a>

                        <a style="display: none" href="{{ path('show_order',{id:order.id,proforma:'true'}) }}"
                           class="btn bg-purple"><i class="fa fa-envelope"></i> Müşteriye Proforma Gönder</a>
                    </p>

                    <hr>

                    <p>
                        {% if order.status == 'cancelled' %}
                            <a href="#" data-toggle="modal" data-target="#myModal"
                               class="btn btn-danger" style="margin-right: 10px;"><i class="fa fa-trash"></i>
                                Siparişi Sil
                            </a>
                        {% else %}
                            <a href="#"
                               class="btn btn-danger disabled" style="margin-right: 10px;"><i class="fa fa-trash"></i>
                                Siparişi Sil
                            </a>
                            <span class="text-muted">
                                Sadece sipariş durumu iptal edilmiş siparişler silinebilir.
                            </span>
                        {% endif %}


                        <!-- Modal -->
                    <div class="modal modal-danger fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Sipariş Silme Onayı</h4>
                                </div>
                                <div class="modal-body">
                                    {{ order.code }} no'lu sipariş silinecek, onaylıyor musunuz?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                    <a href="{{ path('delete_order',{id:order.id}) }}"
                                       target="_self" class="btn btn-danger">Sil</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    </p>


                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Tebrikler!</h4>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <!-- /.box-footer-->
            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-sm-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Sipariş Detayı</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <thead>
                            <tr>
                                <th>Picture</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Inner</th>
                                <th>Rim</th>
                                <th>Outer</th>
                                <th>Desc.</th>
                                <th>Qty</th>
                                <th>Cur</th>
                                <th>€/$</th>

                                <th>Unit Price</th>
                                <th>Subtotal</th>

                            </tr>
                            </thead>
                            <tbody>


                            {% set total = 0 %}
                            {% set cur = '' %}

                            {% for od in order_detail %}

                                {% set cur = od.currency %}

                                {% set renk_say = 0 %}

                                {% if od.innerColor > 0 %}
                                    {% set renk_say = renk_say + 1 %}
                                {% endif %}
                                {% if od.rimColor > 0 %}
                                    {% set renk_say = renk_say + 1 %}
                                {% endif %}
                                {% if od.outerColor > 0 %}
                                    {% set renk_say = renk_say + 1 %}
                                {% endif %}


                                {% set birim_fiyat = od.product.price %}
                                {% set adet = od.quantity %}

                                <tr>
                                    <td>
                                        <img class="img-responsive" height="38" width="60"
                                             style="border: 1px solid gray;"
                                             src="{{ asset('uploads/products/'~od.product.picture) }}"/>

                                    </td>
                                    <td>{{ od.id }}</td>
                                    <td>{{ od.product.name }}</td>
                                    <td>{{ od.product.code }}</td>

                                    {% if od.product.property == 'collection' and
                                        od.product.collection.name != 'RUBIENDA' %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    {% else %}
                                        <td>
                                            {% if od.innerColor == 0 %}
                                                white
                                            {% else %}
                                                {{ od.innerColor }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if od.rimColor == 0 %}
                                                white
                                            {% else %}
                                                {{ od.rimColor }}
                                            {% endif %}

                                        </td>
                                        <td>
                                            {% if od.outerColor == 0 %}
                                                white
                                            {% else %}
                                                {{ od.outerColor }}
                                            {% endif %}
                                        </td>

                                    {% endif %}

                                    <td>{{ od.description }}</td>
                                    <td>{{ od.quantity }}</td>
                                    <td>{{ od.currency }}</td>
                                    <td>{{ od.euroUsd }}</td>

                                    <td>
                                        {% if renk_say > 1 %}

                                            {% set yeni_fiyat = 0 %}
                                            {% set yeni_fiyat = ((birim_fiyat * 10)/100)+birim_fiyat %}

                                            {% if od.currency == 'usd' %}
                                                {% set usd_fiyat = yeni_fiyat * od.euroUsd %}
                                                {{ usd_fiyat|number_format(2) }} $

                                            {% else %}
                                                {{ yeni_fiyat|number_format(2) }} €
                                            {% endif %}


                                        {% else %}

                                            {% if od.currency == 'usd' %}
                                                {% set usd_fiyat = od.product.price * od.euroUsd %}
                                                {{ usd_fiyat|number_format(2) }} $

                                            {% else %}
                                                {{ od.product.price|number_format(2) }} €
                                            {% endif %}




                                        {% endif %}


                                    </td>
                                    <td>
                                        {% if renk_say > 1 %}


                                            {% if od.currency == 'usd' %}

                                                {{ (usd_fiyat * adet)|number_format(2) }} $
                                                {% set total = total + (usd_fiyat * adet) %}

                                            {% else %}
                                                {{ (yeni_fiyat * adet)|number_format(2) }} €
                                                {% set total = total + (yeni_fiyat * adet) %}
                                            {% endif %}





                                        {% else %}


                                            {% if od.currency == 'usd' %}
                                                {{ (usd_fiyat * adet)|number_format(2) }} $
                                                {% set total = total + (usd_fiyat * adet) %}

                                            {% else %}
                                                {{ (birim_fiyat * adet) }} €
                                                {% set total = total + (birim_fiyat * adet) %}
                                            {% endif %}





                                        {% endif %}


                                    </td>

                                </tr>

                            {% endfor %}

                            <hr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total:</td>
                                <td>
                                    {% if cur == 'usd' %}
                                        <b>{{ total|number_format(2) }} $</b>
                                    {% else %}
                                        <b>{{ total|number_format(2) }} €</b>
                                    {% endif %}


                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                </div>
                <!-- /.box-footer-->
            </div>


        </div>

    </div>





{% endblock %}
