{% extends 'base.html.twig' %}

{% block title %}Profilim{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}


{% block body %}

    <div class="row">


        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#user_profile" data-toggle="tab"
                                          aria-expanded="true"><span id="firstname_tab_text">{{ app.user.firstname }}</span></a></li>
                    <li class=""><a href="#user_info" data-toggle="tab" aria-expanded="false">Bilgilerimi Değiştir</a>
                    </li>
                    <li class=""><a href="#change_pass" data-toggle="tab" aria-expanded="false">Parolamı Değiştir</a>
                    </li>
                    <li class=""><a href="#change_profile_picture" data-toggle="tab"
                                    aria-expanded="false">Profil Resmimi Değiştir</a>
                    </li>
                </ul>
                <div class="tab-content">


                    <div class="tab-pane active" id="user_profile">

                        <div class="row">

                            <div class="col-md-4">
                                <div class="box box-widget widget-user-2">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-gray-light">
                                        <div class="widget-user-image">

                                            {% if app.user.picture|length>0 %}

                                                <img class="img-circle"
                                                     src="{{ asset('uploads/user/picture/')~app.user.picture }}"
                                                     alt="User Avatar">

                                            {% else %}

                                                <img class="img-circle" src="{{ asset('build/img/no-image.png') }}"
                                                     alt="User Avatar">

                                            {% endif %}


                                        </div>
                                        <!-- /.widget-user-image -->
                                        <h4 id="user_title_text">&nbsp;{{ app.user.firstName }} {{ app.user.lastName }}</h4>
                                    </div>
                                    <div class="box-footer {#no-padding#}">
                                        <ul class="nav nav-stacked">
                                            <li><a href="{{ path('advert_index') }}">İlanlarım
                                                    <span class="pull-right badge bg-blue">{{ app.user.adverts.count }}</span></a>
                                            </li>
                                            <li><a href="{{ path('announce_index') }}">Duyurularım
                                                    <span class="pull-right badge bg-aqua">{{ app.user.announce.count }}</span></a>
                                            </li>
                                            <li><a href="{{ path('event_index') }}">Etkinliklerim
                                                    <span class="pull-right badge bg-green">{{ app.user.event.count }}</span></a>
                                            </li>
                                            <li><a href="{{ path('business_index') }}">İş Yeri / Hizmetlerim
                                                    <span class="pull-right badge bg-red">{{ app.user.businesses.count }}</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">

                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Hakkımda</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">

                                        <strong><i class="fa fa-user margin-r-5"></i> Kullanıcı Adı: </strong>

                                        <span id="username_text">{{ app.user.username }}</span>

                                        <p class="text-muted">
                                            Sayfalarda görünen "herkese açık" adınızdır. Gerçek ad ve soyadınız
                                            gizlidir.
                                        </p>

                                        <hr>

                                        <strong><i class="fa fa-envelope margin-r-5"></i> Eposta: </strong>
                                        {{ app.user.email }}

                                        <p class="text-muted">
                                            Hesabınıza ait e-posta adresidir, değiştirilemez.
                                        </p>

                                        <hr>

                                        <strong><i class="fa fa-phone margin-r-5"></i> Telefon: </strong>

                                        <span id="gsm_text">{{ app.user.gsm }}</span>

                                        <p class="text-muted">
                                            Telefon numaranız, ilan yayınlarken paylaşılmadığı sürece gizlidir.
                                            Sadece siz görebilirsiniz.
                                        </p>
                                        <hr>


                                        <strong><i class="fa fa-calendar margin-r-5"></i> Doğum Tarihiniz: </strong>

                                        <span id="birthday_text">{{ app.user.birthday|date('d/m/Y') }}</span>


                                        <hr>


                                        <strong><i class="fa fa-phone margin-r-5"></i> Cinsiyetiniz: </strong>

                                        <span id="gender_text">{{ ('gender.' ~ app.user.gender)|trans({},'dashboard') }}</span>


                                        <hr>


                                    </div>
                                    <!-- /.box-body -->
                                </div>

                            </div>


                        </div>

                    </div>


                    <div class="tab-pane" id="user_info">

                        {#<h3 class="box-title"></h3>#}

                        <form class="form-horizontal" method="post" action="{{ path('user_update_info') }}"
                              id="update_user_info_form">

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="firstname">Ad:</label>
                                    <input type="text" value="{{ app.user.firstname }}" required
                                           class="form-control" id="firstname" name="firstname" placeholder="Ad">
                                </div>
                                <div class="col-sm-6">
                                    <label for="lastname">Soyad:</label>
                                    <input type="text" value="{{ app.user.lastname }}" required
                                           class="form-control" id="lastname" name="lastname" placeholder="Soyad">
                                </div>
                            </div>




                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="birthday">Doğum Tarihi:</label>
                                    <input id="birthday" type="text" name="birthday" class="form-control"
                                           value="{{ app.user.birthday|date('d/m/Y') }}">


                                </div>

                                <div class="col-sm-6">

                                    <label for="gender">Cinsiyet</label>
                                    <select class="form-control" id="gender" name="gender">
                                        <option value="none" {% if app.user.gender == 'none' %}selected{% endif %}>
                                            Belirtmek İstemiyorum
                                        </option>
                                        <option value="female" {% if app.user.gender == 'female' %}selected{% endif %}>
                                            Kadın
                                        </option>
                                        <option value="male" {% if app.user.gender == 'male' %}selected{% endif %}>
                                            Erkek
                                        </option>
                                        <option value="other" {% if app.user.gender == 'other' %}selected{% endif %}>
                                            Özel
                                        </option>
                                    </select>

                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="gsm">Cep Telefonu:</label>
                                    <input type="text" required value="{{ app.user.gsm }}"
                                           class="form-control" id="gsm" name="gsm" placeholder="Cep Telefonu">
                                </div>

                                <div class="col-sm-6">
                                    <label for="email">E-Posta:</label>
                                    <input type="email" disabled required value="{{ app.user.email }}"
                                           class="form-control" id="email" name="email" placeholder="E-posta">
                                </div>

                            </div>


                            <div class="form-group has-feedback" id="username_form_group">
                                <div class="col-sm-6">
                                    <label for="username">Kullanıcı Adı:</label>
                                    <input type="text" required value="{{ app.user.username }}"
                                           class="form-control" id="username" name="username"
                                           placeholder="Kullanıcı Adınız">
                                    <span id="username_input_loader" style="display: none"
                                          class="form-control-feedback">
                                        <img src="{{ asset('build/img/ajax-loader-form.gif') }}"
                                             alt="">
                                    </span>
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="col-sm-12">

                                    <button type="button" id="update_user_info_btn"
                                            class="btn btn-success">Bilgilerimi Güncelle
                                    </button>
                                </div>
                            </div>

                            <p class="text-muted well well-sm no-shadow">
                                6698 Sayılı Kişisel Verilerin Korunması Kanunu (KVKK) uyarınca,
                                kişisel bilgileriniz üçüncü kişilerle paylaşılmamaktadır.
                            </p>

                        </form>
                    </div>

                    <div class="tab-pane" id="change_pass">

                        <form class="form-horizontal" method="post" action="{{ path('user_update_password') }}">

                            <div class="form-group">
                                <div class="col-sm-6">


                                    <input type="password" required
                                           class="form-control" id="password" autocomplete="new-password" minlength="6"
                                           name="password" placeholder="Yeni Parolanız">


                                </div>

                                <span id="password_strength"></span>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">


                                    <input type="password" required
                                           class="form-control" id="re_password" autocomplete="new-password"
                                           minlength="6"
                                           name="re_password" placeholder="Yeni Parola Tekrarı">


                                </div>

                            </div>


                            <div class="form-group">
                                <div class="col-sm-12">

                                    <button type="button" id="update_password_btn"
                                            class="btn btn-success">Parolamı Güncelle
                                    </button>

                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane" id="change_profile_picture">


                        <form class="form-horizontal" method="post"
                              action="{{ path('user_update_profile_picture') }}" id="profile_picture_form">


                            <div class="form-group">

                                <div class="col-sm-6">

                                    <label for="profile_picture">Yeni profil resmi seçiniz:</label>
                                    <input type="file" id="profile_picture"
                                           name="profile_picture" class="custom-file-input">


                                    <input type="hidden" id="cropped_image" name="cropped_image"/>


                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Resim Düzenle</h4>
                                                </div>
                                                <div class="modal-body" style="overflow: hidden">
                                                    <img alt="" src="" id="selected_image"
                                                         style="max-width: 600px; max-height: 600px;"/>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default"
                                                                data-method="zoom"
                                                                data-option="0.1"
                                                                title="Zoom In"
                                                                onclick="$('#selected_image').cropper('zoom', 0.1)">

                                                            <span class="fa fa-search-plus"></span>

                                                        </button>
                                                        <button type="button" class="btn btn-default"
                                                                data-method="zoom"
                                                                data-option="-0.1"
                                                                title="Zoom Out"
                                                                onclick="$('#selected_image').cropper('zoom', -0.1)">

                                                            <span class="fa fa-search-minus"></span>

                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="crop_image"
                                                            onclick="$('#image_demo').cropper('crop')"
                                                            type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        Seç
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>

                            <div class="form-group">

                                <div class="col-sm-12">

                                    {% if app.user.picture|length > 0 %}

                                        <img id="preview" src="{{ asset('uploads/user/picture/')~app.user.picture }}"
                                             width="200"
                                             height="200" alt="" class="img-responsive img-bordered"/>

                                        <hr>

                                        <a class="btn btn-danger"
                                           href="{{ path('delete_profile_picture',
                                               {picture:app.user.picture,
                                                   _token:csrf_token('delete-profile-picture'~app.user.picture)}) }}"
                                           target="_self" style="margin-right: 10px"
                                           onclick="return confirm('Profil resmi silinecek, onaylıyor musunuz?');">
                                            Mevcut Resmi Sil</a>

                                    {% else %}

                                        <img id="preview" src="{{ asset('build/img/no-image.png') }}"
                                             class="img-responsive img-bordered" width="200" height="200" alt=""/>

                                        <hr>

                                    {% endif %}

                                    <button type="button" id="profile_picture_submit_btn" class="btn btn-success">
                                        Yeni Resmi Kaydet
                                    </button>

                                </div>


                            </div>


                        </form>

                    </div>


                </div>


                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>


    </div>



    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}