{% extends 'base.html.twig' %}

{% block title %}Kontrol Merkezi{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}


{% block body %}

    <div class="row">

        <div class="col-md-4">

            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue-gradient">
                    <div class="widget-user-image">
                        {#<img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">#}
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{ app.user.firstName }} {{ app.user.lastName }}</h3>
                    <h5 class="widget-user-desc">{{ app.user.username }}</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="{{ path('advert_index') }}">İlanlarım
                                <span class="pull-right badge bg-blue">{{ app.user.adverts.count }}</span></a></li>
                        <li><a href="{{ path('announce_index') }}">Duyurularım
                                <span class="pull-right badge bg-aqua">{{ app.user.announce.count }}</span></a></li>
                        <li><a href="{{ path('event_index') }}">Etkinliklerim
                                <span class="pull-right badge bg-green">{{ app.user.event.count }}</span></a></li>
                        <li><a href="{{ path('business_index') }}">İş Yeri / Hizmetlerim
                                <span class="pull-right badge bg-red">{{ app.user.businesses.count }}</span></a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-8">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {#<li class="active"><a href="#timeline" data-toggle="tab" aria-expanded="true">Timeline</a></li>#}
                    <li class="active"><a href="#user_info" data-toggle="tab" aria-expanded="false">Bilgiler</a></li>
                    <li class=""><a href="#change_pass" data-toggle="tab" aria-expanded="false">Parola</a></li>
                </ul>
                <div class="tab-content">


                    {#<div class="tab-pane active" id="timeline">
                        <!-- The timeline -->
                        <ul class="timeline timeline-inverse">
                            <!-- timeline time label -->
                            <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                            </li>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <li>
                                <i class="fa fa-envelope bg-blue"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs">Read more</a>
                                        <a class="btn btn-danger btn-xs">Delete</a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <li>
                                <i class="fa fa-user bg-aqua"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                                    </h3>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <li>
                                <i class="fa fa-comments bg-yellow"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                    <div class="timeline-body">
                                        Take me to your leader!
                                        Switzerland is small and neutral!
                                        We are more like Germany, ambitious and misunderstood!
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <!-- timeline time label -->
                            <li class="time-label">
                        <span class="bg-green">
                          3 Jan. 2014
                        </span>
                            </li>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <li>
                                <i class="fa fa-camera bg-purple"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                    <div class="timeline-body">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    </div>#}


                    <div class="tab-pane active" id="user_info">

                        {#<h3 class="box-title"></h3>#}

                        <form class="form-horizontal" method="post" action="{{ path('user_update_info') }}">

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="firstname">Ad:</label>
                                    <input type="text" value="{{ app.user.firstname }}" required
                                           class="form-control" id="firstname" name="firstname" placeholder="Ad">
                                </div>
                                <div class="col-sm-6">
                                    <label for="lastname">Soyad:</label>
                                    <input type="text" value="{{ app.user.lastname }}" required
                                           class="form-control" id="lastname" name="lastname" placeholder="Soyad">
                                </div>
                            </div>




                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="birthday">Doğum Tarihi:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input id="birthday" name="birthday" required value="{{ app.user.birthday|date('d/m/Y') }}"
                                               data-inputmask="'alias': 'datetime', 'inputFormat': 'dd/mm/yyyy'"
                                               type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                        <label for="gender">Cinsiyet</label>
                                        <select class="form-control" id="gender" name="gender">
                                            <option value="none" {% if app.user.gender == 'none' %}selected{% endif %}>Belirtmek İstemiyorum</option>
                                            <option value="female" {% if app.user.gender == 'female' %}selected{% endif %}>Kadın</option>
                                            <option value="male" {% if app.user.gender == 'male' %}selected{% endif %}>Erkek</option>
                                            <option value="other" {% if app.user.gender == 'other' %}selected{% endif %}>Özel</option>
                                        </select>

                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="gsm">Cep Telefonu:</label>
                                    <input type="text" required value="{{ app.user.gsm }}"
                                           class="form-control" id="gsm" name="gsm" placeholder="Cep Telefonu">
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="username">Kullanıcı Adı:</label>
                                    <input type="text" disabled required value="{{ app.user.username }}"
                                           class="form-control" id="username" name="username" placeholder="Kullanıcı Adınız">
                                </div>
                                <div class="col-sm-6">
                                    <label for="email">E-Posta:</label>
                                    <input type="email" disabled required value="{{ app.user.email }}"
                                           class="form-control" id="email" name="email" placeholder="E-posta">
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-sm-12">
                                    <p class="text-muted well well-sm no-shadow">
                                        6698 Sayılı Kişisel Verilerin Korunması Kanunu (KVKK) uyarınca,
                                        kişisel bilgileriniz üçüncü kişilerle paylaşılmamaktadır.
                                    </p>
                                    <button type="submit"
                                            class="btn btn-success">Bilgilerimi Güncelle
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane active" id="change_pass">

                        {#<h3 class="box-title"></h3>#}

                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>


    </div>



    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}