{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        Etkinlik Yönetimi
    {% else %}
        Etkinliklerim
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Yeni etkinlik eklemektesiniz
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('event_index') }}">
                    {% if is_granted('ROLE_ADMIN') %}
                        Etkinlik Yönetimi
                    {% else %}
                        Etkinliklerim
                    {% endif %}
                </a></li>
            <li class="active"><a href="{{ path('event_new') }}">Yeni Ekle</a></li>
        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!--
                <div class="box-header with-border">
                    <h3 class="box-title">Gezilecek Yerler - Yeni Ekle</h3>
                </div>-->
                <!-- /.box-header -->
                <!-- form start -->

                {{ include('event/_form.html.twig') }}

                <div class="box-footer">
                    <a class="btn btn-primary" style="margin-right: 10px;" href="{{ path('event_index') }}">
                        Liste</a>
                    <button class="btn btn-success">{{ button_label|default('Kaydet') }}</button>

                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
{% endblock %}
