{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        Etkinlik Yönetimi
    {% else %}
        Etkinliklerim
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Etkinlik Detayı
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('event_index') }}">
                    {% if is_granted('ROLE_ADMIN') %}
                        Etkinlik Yönetimi
                    {% else %}
                        Etkinliklerim
                    {% endif %}
                </a></li>
            <li class="active"><a href="{{ path('event_show', {id:event.id}) }}">
                    {{ event.name }}</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}


    <div class="box">

        <!--
        <div class="box-header with-border">
            <h3 class="box-title">Gezilecek Yerler</h3>
        </div>

       -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                        <tr>
                            <th>Etkinlik Adı</th>
                            <td>{{ event.name }}</td>
                        </tr>
                        <tr>
                            <th>Bölge</th>
                            <td>
                                {% if event.place %}
                                    {{ event.place.name}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Semt/Mah.</th>
                            <td>
                                {% if event.subPlace %}
                                    {{ event.subPlace.name}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Kategori</th>
                            <td>{{ event.category|trans({},'event') }}</td>
                        </tr>
                        <tr>
                            <th>Açıklama</th>
                            <td>{{ event.description[:500]|striptags }}&hellip;</td>
                        </tr>
                        <tr>
                            <th>Başlangıç Tarihi ve Saati</th>
                            <td>{{ event.start ? event.start|date('d/m/Y H:i') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Bitiş Tarihi ve Saati</th>
                            <td>{{ event.end ? event.end|date('d/m/Y H:i') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Son Güncelleme</th>
                            <td>{{ event.lastUpdate ? event.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <th>Etkinlik Açıklaması</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ event.description|raw }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <th>Etkinlik Görseli</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                {% if event.image|length > 0 %}

                                    <img alt="" src="{{ asset('uploads/event/')~event.image }}"
                                         width="400"
                                         height="216"/><br>

                                {% endif %}

                            </td>
                            <td>
                                {% if event.image|length > 0 %}
                                <a class="btn btn-danger"
                                   href="{{ path('event_featured_photo_delete',
                                       {event:event.id,
                                           _token:csrf_token('delete-featured-photo'~event.id)}) }}"
                                   target="_self"
                                   onclick="return confirm('{{ 'event_delete_featured_image'|trans }}');">
                                    <i class="fa fa-trash"></i> Görseli Sil
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-4">

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>

                                <a href="{{ path('event_index') }}" class="btn btn-primary"
                                   style="margin-right: 10px;">
                                    <i class="fa fa-caret-left"></i>
                                    Etkinliklerim</a>


                                <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-warning"
                                   style="margin-right: 10px;">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Düzenle</a>


                                <!-- Button trigger modal -->
                                <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-trash-o"></i>
                                    Sil
                                </a>
                                {{ include('event/_delete_form.html.twig') }}


                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>


                                {% if  event.confirm == 0 %}  {#onay bekleniyor#}

                                    <div class="callout callout-warning">
                                        <h4>
                                            <i class="icon fa fa-clock-o"></i>
                                            Onay Bekliyor!
                                        </h4>
                                        <p>
                                            Etkinlik onaya gönderilmiş durumda. İncelendikten
                                            sonra yayına alınacaktır. Onaylandığında, tarafınıza otomatik olarak
                                            eposta gönderilecektir.<br>
                                            <a style="font-weight: bold" href="{{ path('event_save_as_draft',
                                                {id:event.id,_token:csrf_token('event_save_as_draft' ~ event.id)}) }}">
                                                İptal etmek için tıklayınız
                                            </a>
                                        </p>
                                    </div>

                                {% elseif event.confirm == 1 %} {#onaylandı#}

                                    <div class="callout callout-success">
                                        <h4>
                                            <i class="icon fa fa-check-circle-o"></i> Etkinlik Yayındadır.
                                        </h4>
                                        <p>
                                            <b>Dikkat!</b> Etkinliği yeniden düzenlerseniz, otomatik olarak
                                            yayından kaldırılır ve yeniden onaya gönderilmesi
                                            gerekir.
                                        </p>
                                    </div>

                                {% elseif event.confirm == 2 %} {#taslak olarak kaydedildi#}

                                    <div class="callout callout-info">
                                        <h4>
                                            <i class="icon fa fa-info-circle"></i> Henüz Yayında Değil!
                                        </h4>
                                        <p>
                                            Lütfen son kontrollerinizi yapın ve onaylanması için
                                            "Onaya Gönder" butonuna tıklayın.
                                        </p>
                                    </div>

                                {% endif %}



                                {% if  event.confirm == 0 %}  {#onay bekleniyor#}

                                    <br>

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('event_confirm',
                                            {id:event.id,_token:csrf_token('confirm' ~ event.id)}) }}"
                                           class="btn btn-danger btn-block btn-lg" style="margin-right: 10px;">
                                            <i class="fa fa-check-circle-o"></i> Yönetici Olarak Yayına Al
                                        </a>
                                    {% endif %}

                                {% elseif event.confirm == 1 %} {#onaylandı#}

                                    <br>

                                    {% if is_granted('ROLE_ADMIN') %}

                                        <a href="{{ path('event_unconfirm',
                                            {id:event.id,_token:csrf_token('unconfirm' ~ event.id)}) }}"
                                           class="btn btn-danger btn-block btn-lg">
                                            <i class="fa fa-close"></i> Yönetici Olarak Yayından Kaldır
                                        </a>
                                    {% endif %}

                                {% elseif event.confirm == 2 %} {#taslak olarak kaydedildi#}

                                    <br>

                                    <a href="{{ path('event_send_confirmation_request',
                                        {id:event.id,_token:csrf_token('event_send_confirmation_request' ~ event.id)}) }}"
                                       class="btn btn-lg btn-success btn-block" style="margin-right: 10px;">
                                        <i class="fa fa-check-circle-o"></i>
                                        Onaya Gönder</a>

                                {% endif %}


                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
    </div>



    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
{% endblock %}