{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        Etkinlik Yönetimi
    {% else %}
        Etkinliklerim
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Etkinlik Detayı
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('event_index') }}">
                    {% if is_granted('ROLE_ADMIN') %}
                        Etkinlik Yönetimi
                    {% else %}
                        Etkinliklerim
                    {% endif %}
                </a></li>
            <li class="active"><a href="{{ path('event_show', {id:event.id}) }}">
                    {{ event.name }}</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}


    <div class="box">

        <!--
        <div class="box-header with-border">
            <h3 class="box-title">Gezilecek Yerler</h3>
        </div>

       -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <tbody>
                    
                        <tr>
                            <th>Son Güncelleme</th>
                            <td>{{ event.lastUpdate ? event.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Etkinlik No</th>
                            <td>{{ event.id }}</td>
                        </tr>
                        <tr>
                            <th>Etkinlik Adı</th>
                            <td>{{ event.name }}</td>
                        </tr>
                        <tr>
                            <th>Bölge</th>
                            <td>
                                {% if event.place %}
                                    {{ event.place.name}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Açıklama</th>
                            <td>{{ event.description[:500]|striptags }}&hellip;</td>
                        </tr>
                        <tr>
                            <th>Başlangıç Tarihi ve Saati</th>
                            <td>{{ event.start ? event.start|date('d/m/Y H:i') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Bitiş Tarihi ve Saati</th>
                            <td>{{ event.end ? event.end|date('d/m/Y H:i') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Onay Durumu</th>
                            <td>
                                {% if  event.confirm == 0 %}
                                    <span class="label label-warning">
                                        <i class="fa fa-clock-o"></i>
                                        Yönetici Onayı Bekleniyor</span><br><br>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('event_confirm',
                                            {id:event.id,_token:csrf_token('confirm' ~ event.id)}) }}"
                                           class="btn btn-success" style="margin-right: 10px;">Onayla</a>
                                    {% endif %}
                                {% else %}
                                    <span class="label label-success">
                                        <i class="fa fa-check"></i>
                                         Onaylandı</span><br><br>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('event_unconfirm',
                                            {id:event.id,_token:csrf_token('unconfirm' ~ event.id)}) }}"
                                           class="btn btn-danger" style="margin-right: 10px;">Yayından Kaldır</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Görsel</th>
                            <td>
                                {% if event.image|length > 0 %}

                                    <img src="{{ asset('uploads/event/')~event.image }}" width="300"
                                         height="225"/>
                                    <a class="btn-default btn-xs"
                                       href="{{ path('event_featured_photo_delete',
                                           {event:event.id,
                                               _token:csrf_token('delete-featured-photo'~event.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('Are you sure you want to delete this item?');"
                                       style="position: absolute;"><i class="fa fa-close"></i></a>


                                {% endif %}

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ path('event_index') }}" class="btn btn-primary" style="margin-right: 10px;">Liste</a>
            <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-warning"
               style="margin-right: 10px;">Düzenle</a>
            <!-- Button trigger modal -->
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Sil
            </a>
            {{ include('event/_delete_form.html.twig') }}
        </div>
        <!-- /.box-footer-->
    </div>



    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
{% endblock %}