{% extends 'base_login.html.twig' %}

{% block title %}Parola Sıfırlama | Edremit Körfezi{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('register') }}
{% endblock %}


{% block body %}

    <body class="hold-transition login-page"
          style="background-image: url('../../assets/img/front_end/banner-1.jpg');
          background-repeat: no-repeat;
          background-size: 100% 100%;">

    <div class="login-box">
        <div class="login-logo">
            <h2 style="color:#FFFFFF;">Edremit Körfez Portalı</h2>
            <h4 style="color:#FFFFFF;font-style: oblique">"Körfezin Kısayolu"</h4>

        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <form class="form-signin" method="post" action="{{ path('send_reset_link') }}">


                <h4><i class="icon fa fa-info-circle"></i> Parola Sıfırlama</h4>
                <p>
                    Parolanızı sıfırlamak için size link göndereceğiz. Lütfen sistemimizde kayıtlı olan
                    e-posta adresinizi giriniz.
                </p>


                {% for message in app.flashes('error') %}
                    <div class="alert alert-error alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}


                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}


                <div class="form-group has-feedback">
                    <label for="username" class="sr-only">E-posta</label>
                    <input type="text" name="email"
                           class="form-control" placeholder="E-posta" required autofocus>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success btn-block btn-flat">
                            <i class="fa fa-send-o"></i> Gönder
                        </button>

                        <hr>


                        <a href="{{ path('app_login') }}">
                            Geri dön
                        </a>
                    </div>

                </div>
            </form>


        </div>
    </div>
    <!-- /.login-box-body -->

    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}


    </body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_script_tags('register') }}
{% endblock %}