{% extends 'base_login.html.twig' %}

{% form_theme registrationForm '_override/form/register.html.twig' %}


{% block title %}Kaydol | Edremit Körfezi{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('register') }}
{% endblock %}


{% block body %}

    <body class="hold-transition login-page"
          style="background-image: url('../../assets/img/front_end/banner-1.jpg');
          background-repeat: no-repeat;
          background-size: 100% 100%;">

    <div class="login-box">
        <div class="login-logo">
            <h2 style="color:#FFFFFF;">Edremit Körfezi</h2>
            <h4 style="color:#FFFFFF;font-style: oblique">"Körfezin Kısayolu"</h4>

        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {{ form_start(registrationForm, {'attr':{'autocomplete':'new-password'}}) }}


            <p class="login-box-msg">Yeni Kullanıcı Kayıt Formu</p>

            <div class="form-group has-feedback">
                {{ form_widget(registrationForm.fullName, {'attr': {'class': 'form-control',
                    'placeholder': 'Ad Soyad'}}) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback" id="email_form_group">
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control',
                    'placeholder': 'E-Posta','autocomplete': 'null'}}) }}
                <span id="email_input_icon" class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span id="email_input_loader" style="display: none"
                      class="form-control-feedback"><img src="{{ asset('build/img/ajax-loader-form.gif') }}" alt=""></span>

            </div>

            <div class="form-group has-feedback">
                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control',
                    'placeholder': 'Parola Giriniz (min. 6 karakter)','autocomplete':'new-password'}}) }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {#<small>{{ form_help(registrationForm.plainPassword) }}</small>#}
            </div>

            <div class="form-group has-feedback">
                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control',
                    'placeholder': 'Parola Tekrarı'}}) }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <p>
                {{ form_errors(registrationForm.plainPassword.first) }}
                {{ form_errors(registrationForm) }}
            </p>

            <div class="form-group has-feedback">

                {{ form_widget(registrationForm.agreeTerms) }}


            </div>

            <div class="row">
                <div class="col-xs-8">
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-success btn-block btn-flat">Kaydol</button>
                </div>
                <!-- /.col -->
            </div>



            {{ form_end(registrationForm) }}
            <hr>


            {#<a id="login" href="{{ path('app_login') }}">
                Kayıtlı bir hesabım var, giriş yap
            </a>#}
            <a class="btn btn-sm btn-info btn-flat btn-block" href="{{ path('app_login') }}">
                Kayıtlı bir hesabım var
            </a>

        </div>
        <!-- /.login-box-body -->
    </div>

    </body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_script_tags('register') }}
{% endblock %}
