{% form_theme form 'form/fields.html.twig' %}
<div class="box-body">
    {{ form_start(form) }}
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.adCategory, 'Üst Kategori') }}
            {{ form_widget(form.adCategory) }}
        </div>
        <div class="form-group">
            {{ form_label(form.short_name, 'Kısa Ad') }}
            {{ form_widget(form.short_name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.active, 'Aktif?') }}
            {{ form_widget(form.active) }}
        </div>
    </div>

    <div class="col-md-6">

        <p style="color: red;">
            /translations/advert.(locale).yaml dil dosyalarını manuel olarak güncellemeyi unutmayın.
        </p>

        <p style="color: red;">
            Please update <b>/translations/advert.(locale).yaml</b> file after adding new advert category.<br>
            Short name format must be like: <b>car, sea-vehicle, offroad-pickup ...</b>
        </p>


    </div>
</div>