{% extends 'base.html.twig' %}

{% block title %}İlan Alt Kategori - Yeni Ekle{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            İlan Alt Kategori <small>Yeni Ekle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('ad_sub_category_index') }}">İlan Alt Kategori</a></li>
            <li class="active"><a href="{{ path('ad_sub_category_new') }}">
                    Yeni Ekle</a></li>
        </ol>
    </section>

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!--
                <div class="box-header with-border">
                    <h3 class="box-title">Gezilecek Yerler - Yeni Ekle</h3>
                </div>-->
                <!-- /.box-header -->
                <!-- form start -->

                {{ include('ad_sub_category/_form.html.twig') }}

                <div class="box-footer">
                    <a class="btn btn-primary" style="margin-right: 10px;" href="{{ path('ad_sub_category_index') }}">
                        Liste</a>
                    <button class="btn btn-success">{{ button_label|default('Kaydet') }}</button>

                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
