{% form_theme form 'form/fields.html.twig' %}
<div class="box-body">
    {{ form_start(form) }}
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.name, 'İşletme Adı') }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.category, 'İşletme Türü') }}
            {{ form_widget(form.category) }}
        </div>
        <div class="form-group">
            {{ form_label(form.place, 'Bölge') }}
            {{ form_widget(form.place) }}
        </div>
        <div class="form-group">
            {{ form_label(form.subPlace, 'Semt/Mah.') }}
            {{ form_widget(form.subPlace) }}
        </div>
        <div class="form-group">
            {{ form_label(form.about, 'İşletme Hakkında Bilgiler') }}
            {{ form_widget(form.about) }}
        </div>

        
    </div>

    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.email, 'E-posta') }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.phone, 'Telefon') }}
            {{ form_widget(form.phone) }}
        </div>

        <div class="form-group">
            {{ form_label(form.adress, 'Adres') }}
            {{ form_widget(form.adress) }}
        </div>

        <div class="form-group">
            {{ form_label(form.web, 'Web Sitesi URL') }}
            {{ form_widget(form.web) }}
        </div>



        <div class="form-group">
            {{ form_label(form.facebook, 'Facebook URL') }}
            {{ form_widget(form.facebook) }}
        </div>

        <div class="form-group">
            {{ form_label(form.twitter, 'Twitter URL') }}
            {{ form_widget(form.twitter) }}
        </div>

        <div class="form-group">
            {{ form_label(form.instagram, 'Instagram URL') }}
            {{ form_widget(form.instagram) }}
        </div>

        <div class="form-group">
            {{ form_label(form.map, 'Google Harita: "Edremit+Körfezi,Balıkesir" ya da "39.58331, 26.92323"') }}
            {{ form_widget(form.map) }}
        </div>

        <div class="form-group">
            {{ form_label(form.featured_picture, 'Öne Çıkan Görsel') }}
            {{ form_widget(form.featured_picture) }}
        </div>

        <div class="form-group">

            <img id="preview"
                 class="img-responsive img-bordered" width="400" height="216" alt=""/>

        </div>

        <input type="hidden" id="cropped_image" name="cropped_image" />


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Resim Düzenle</h4>
                    </div>
                    <div class="modal-body" style="">


                        <div>
                            <img alt="" src="" id="selected_image" style="max-width: 800px;max-height: 432px"/>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-method="zoom" data-option="0.1"
                                    title="Zoom In" onclick="$('#selected_image').cropper('zoom', 0.1)">

                                <span class="fa fa-search-plus"></span>

                            </button>
                            <button type="button" class="btn btn-default" data-method="zoom" data-option="-0.1"
                                    title="Zoom Out" onclick="$('#selected_image').cropper('zoom', -0.1)">

                                <span class="fa fa-search-minus"></span>

                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="crop_image"  onclick="$('#image_demo').cropper('crop')"
                                type="button" class="btn btn-default" data-dismiss="modal">Seç</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>