{% extends 'base.html.twig' %}

{% block title %}İş Yerlerim{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('business') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            İş Yerlerim
            <small>Liste</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li class="active"><a href="{{ path('business_index') }}">İş Yerlerim</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <!--
                <div class="box-header">
                <h3 class="box-title"></h3>
                </div>
                -->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="example1_wrapper"
                                 class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
                                <table id="example1" class="table table-bordered table-striped
                                        table-hover table-condensed
                                        dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th>Onay Durumu</th>
                                        <th>Son Güncelleme</th>
                                        <th>İşletme Adı</th>
                                        <th>Telefon</th>
                                        <th>Web</th>
                                        <th>Eposta</th>
                                        <th>Bölge</th>
                                        <th>İşletme Türü</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for business in businesses %}
                                        <tr>
                                            <td>
                                                {% if  business.confirm == 0 %}
                                                    <span class="label label-warning">
<i class="fa fa-clock-o"></i>
Yönetici Onayı Bekleniyor</span>
                                                {% else %}
                                                    <span class="label label-success">
<i class="fa fa-check"></i>
Onaylandı</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ business.lastUpdate ? business.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ business.name }}</td>
                                            <td>{{ business.phone }}</td>
                                            <td>{{ business.web }}</td>
                                            <td>{{ business.email }}</td>
                                            <td>
                                                {{ business.place.name is defined ? business.place.name : '' }}
                                            </td>
                                            <td>{{ business.category.shortName| trans({}, 'business') }}</td>
                                            <td>
                                                <a href="{{ path('business_show', {'id': business.id}) }}"
                                                   class="btn btn-xs btn-primary pull-left">Göster</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="10">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>


    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}

{% endblock %}




{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('business') }}
{% endblock %}
