{% form_theme form 'form/fields.html.twig' %}
<div class="box-body">
{{ form_start(form) }}
    <div id="product">
        <div class="form-group">
            {{ form_label(form.property, 'Ürün Yapısı') }}
            {{ form_widget(form.property) }}
        </div>
        <div class="form-group">
            {{ form_label(form.collection, 'Koleksiyon Adı') }}
            {{ form_widget(form.collection) }}
        </div>
        <div class="form-group">
            {{ form_label(form.name, 'Ürün Adı') }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.code, 'Ürün Kodu') }}
            {{ form_widget(form.code) }}
        </div>
        <div class="form-group">
            {{ form_label(form.type, 'Ürün Tipi') }}
            {{ form_widget(form.type) }}
        </div>
        <div class="form-group">
            {{ form_label(form.price, 'Fiyat') }}
            {{ form_widget(form.price) }}
        </div>
        <div class="form-group">
            {{ form_label(form.properties, 'Özellikleri (Örnek: Dimater 21 cm, Height 7,5cm)') }}
            {{ form_widget(form.properties) }}
        </div>
        <div class="form-group">
            {{ form_label(form.packaging, 'Paketleme (Örnek: 4 pcs/inner box; 8 inner boxes/carton)') }}
            {{ form_widget(form.packaging) }}
        </div>
        <div class="form-group">
            {{ form_label(form.picture, 'Ürün Resmi (w:1000 x h:625)') }}
            {{ form_widget(form.picture) }}
        </div>
    </div>
</div>