{% extends 'base.html.twig' %}

{% block title %}Yeni Ürün Ekle{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Yeni Ürün Ekle</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                {{ include('product/_form.html.twig') }}

                <div class="box-footer">
                    <button class="btn btn-success">{{ button_label|default('Kaydet') }}</button>
                    <a class="btn btn-primary pull-right" href="{{ path('product_index') }}">
                        Ürün Listesi</a>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}


    <script type="application/javascript">

        $(document).ready(function(){
            //console.log("ready");
            $('#product_collection').css('display','none');
            $('label[for="product_collection"]').css('visibility', 'hidden');

            $('#product_pattern').css('display','none');
            $('label[for="product_pattern"]').css('visibility', 'hidden');
        });

        $('#product_property').on('change', function () {
           if (this.value === 'collection'){
               $('#product_collection').css('display','block');
               $('label[for="product_collection"]').css('visibility', 'visible');

               $('#product_pattern').css('display','block');
               $('label[for="product_pattern"]').css('visibility', 'visible');
           }
           else {
               $('#product_collection').css('display','none');
               $('label[for="product_collection"]').css('visibility', 'hidden');

               $('#product_pattern').css('display','none');
               $('label[for="product_pattern"]').css('visibility', 'hidden');
           }
        });
    </script>

{% endblock %}
