{% extends 'base.html.twig' %}

{% block title %}Koleksiyon Alt Grup Detayı{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Koleksiyon Alt Grup Detayı</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ product_collection.id }}</td>
                        </tr>
                        <tr>
                            <th>Koleksiyon Adı</th>
                            <td>{{ product_collection.name }}</td>
                        </tr>
                        <tr>
                            <th>Koleksiyon Model Kodu</th>
                            <td>{{ product_collection.modelCode }}</td>
                        </tr>
                        <tr>
                            <th>Öne Çıkan Resim</th>
                            <td>{{ product_collection.picture }}</td>
                        </tr>
                        <tr>
                            <th>Koleksiyona Ait Ürün Sayısı</th>
                            <td>
                              {{ product_collection.product|length }} |
                                <a href="{{ path('product_index', {'related-products':product_collection.id}) }}">
                                    tanımlı ürünleri göster &raquo;
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    {% if product_collection.picture != "" %}
                    <img src="{{ asset('uploads/collections/')~product_collection.picture }}"
                         class="img-responsive" height="167" width="640">
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">

                        </div>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> Uyarı!</h4>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="flash-notice">

                        </div>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Tebrikler!</h4>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ path('product_collection_index') }}" class="btn btn-primary" style="margin-right: 10px;">Koleksiyon Alt Grup Listesi</a>
            <a href="{{ path('product_collection_edit', {'id': product_collection.id}) }}" class="btn btn-warning"
               style="margin-right: 10px;">Düzenle</a>
            <!-- Button trigger modal -->
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Sil
            </a>
            {{ include('product_collection/_delete_form.html.twig') }}
        </div>
        <!-- /.box-footer-->
    </div>


{% endblock %}
