{% extends 'base.html.twig' %}

{% block title %}PlacesToVisit index{% endblock %}

{% block body %}
    <h1>PlacesToVisit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>About</th>
                <th>Maps</th>
                <th>Phone</th>
                <th>Web</th>
                <th>Email</th>
                <th>Address</th>
                <th>Featured_picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for places_to_visit in places_to_visits %}
            <tr>
                <td>{{ places_to_visit.id }}</td>
                <td>{{ places_to_visit.name }}</td>
                <td>{{ places_to_visit.about }}</td>
                <td>{{ places_to_visit.maps }}</td>
                <td>{{ places_to_visit.phone }}</td>
                <td>{{ places_to_visit.web }}</td>
                <td>{{ places_to_visit.email }}</td>
                <td>{{ places_to_visit.address }}</td>
                <td>{{ places_to_visit.featuredPicture }}</td>
                <td>
                    <a href="{{ path('places_to_visit_show', {'id': places_to_visit.id}) }}">show</a>
                    <a href="{{ path('places_to_visit_edit', {'id': places_to_visit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('places_to_visit_new') }}">Create new</a>
{% endblock %}
