{% extends 'base.html.twig' %}

{% block title %}Gezilecek Yerler{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('places_to_visit') }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />


{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Gezilecek Yer Detayı
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('places_to_visit_index') }}">Gezilecek Yerler</a></li>
            <li class="active"><a href="{{ path('places_to_visit_show', {id:places_to_visit.id}) }}">
                    {{ places_to_visit.name }}</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}


    <div class="box">

        <!--
        <div class="box-header with-border">
            <h3 class="box-title">Gezilecek Yerler</h3>
        </div>

       -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                        <tr>
                            <th style="width: 25%;">Yer Adı</th>
                            <td>{{ places_to_visit.name }}</td>
                        </tr>
                        <tr>
                            <th>Yerleşim Yeri</th>
                            <td>
                                {% if places_to_visit.place %}
                                    {{ places_to_visit.place.name }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td>{{ places_to_visit.phone }}</td>
                        </tr>
                        <tr>
                            <th>Web</th>
                            <td>{{ places_to_visit.web }}</td>
                        </tr>
                        <tr>
                            <th>Eposta</th>
                            <td>{{ places_to_visit.email }}</td>
                        </tr>
                        <tr>
                            <th>Adres</th>
                            <td>{{ places_to_visit.address }}</td>
                        </tr>
                        <tr>
                            <th>URL slug</th>
                            <td>{{ places_to_visit.slug }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <th>Hakkında</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ places_to_visit.about|raw }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <th>Öne Çıkan Görsel</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {% if places_to_visit.featuredPicture|length > 0 %}

                                    <a data-fancybox="gallery"
                                       href="{{ asset('uploads/ptv/')~places_to_visit.featuredPicture }}">
                                        <img src="{{ asset('uploads/ptv/')~places_to_visit.featuredPicture }}"
                                             width="400"
                                             height="216"/>
                                    </a>

                                    <a class="btn-default btn-xs"
                                       href="{{ path('ptv_featured_photo_delete',
                                           {ptv:places_to_visit.id,
                                               _token:csrf_token('delete-featured-photo'~places_to_visit.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('{{'ptv_delete_featured_image'|trans}}');"
                                       style="position: absolute;margin-left: -92px;
                                       margin-top: 193px;font-size: 12px"><i class="fa fa-trash-o"></i> Görseli Kaldır</a>
                                {% else %}
                                    Öne çıkan görsel eklenmemiş. Eklemek için düzenle butonuna tıklayınız.

                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <div class="col-sm-4">


                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>

                                <a href="{{ path('places_to_visit_index') }}" class="btn btn-primary"
                                   style="margin-right: 10px;">
                                    <i class="fa fa-caret-left"></i>
                                    Liste</a>


                                <a href="{{ path('places_to_visit_edit', {'id': places_to_visit.id}) }}"
                                   class="btn btn-warning"
                                   style="margin-right: 10px;">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Düzenle</a>


                                <!-- Button trigger modal -->
                                <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-trash-o"></i>
                                    Sil
                                </a>
                                {{ include('places_to_visit/_delete_form.html.twig') }}


                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <th>Galeriye Yükle</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <form action="{{ path('ptv_photo_new') }}" method="post" enctype="multipart/form-data">


                                    <div class="form-group">
                                        <div class="file-upload-wrapper" data-text="Görseli seçin:">
                                            <input type="file" name="ptv_gallery" id="ptv_gallery" class="file-upload-field">
                                        </div>


                                        <input type="hidden" id="cropped_image" name="cropped_image"/>
                                        <input type="hidden" id="id" name="id" value="{{ places_to_visit.id }}"/>
                                        <input type="hidden" name="token"
                                               value="{{ csrf_token('new-gallery-photo') }}"/>

                                    </div>

                                    <div class="form-group">
                                        <img id="gallery_preview" src="" style="display: none"
                                             class="img-responsive img-bordered"  alt=""/>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-block" type="submit" name="submit" id="upload_button"
                                                style="display: none">
                                            <i class="fa fa-upload"></i> Seçili Görseli Yükle
                                        </button>
                                    </div>



                                    <!-- Modal -->
                                    <div class="modal fade" id="gallery_myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Resim Düzenle</h4>
                                                </div>
                                                <div class="modal-body" style="overflow: hidden">
                                                    <img alt="" src="" id="gallery_selected_image"
                                                         style="max-width: 800px; max-height: 500px;"/>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" data-method="zoom"
                                                                data-option="0.1"
                                                                title="Zoom In"
                                                                onclick="$('#gallery_selected_image').cropper('zoom', 0.1)">

                                                            <span class="fa fa-search-plus"></span>

                                                        </button>
                                                        <button type="button" class="btn btn-default" data-method="zoom"
                                                                data-option="-0.1"
                                                                title="Zoom Out"
                                                                onclick="$('#gallery_selected_image').cropper('zoom', -0.1)">

                                                            <span class="fa fa-search-minus"></span>

                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="gallery_crop_image" onclick="$('#gallery_image_demo').cropper('crop')"
                                                            type="button" class="btn btn-default" data-dismiss="modal">
                                                        Seç
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <table class="table table-bordered">
                        <thead>
                        <th>Galeri Görselleri</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {% for g in places_to_visit.pTVPhotos %}


                                    <a data-fancybox="gallery" href="{{ asset('uploads/ptv/gallery/')~g.filename }}">
                                        <img style="margin-bottom: 20px;margin-left: 20px;"
                                             src="{{ asset('uploads/ptv/gallery/')~g.filename }}" width="200"
                                             height="108" alt=""/>
                                    </a>

                                    <a class="btn-default btn-xs"
                                       href="{{ path('ptv_photo_delete',
                                           {ptv:places_to_visit.id,id:g.id,_token:csrf_token('delete-gallery-photo'~g.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('Silmek istediğinizden emin misiniz?');"
                                       style="position: absolute;margin-left: -92px;
                                       margin-top: 85px;font-size: 12px"><i class="fa fa-trash-o"></i> Görseli Kaldır</a>


                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>

    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('places_to_visit') }}

    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


{% endblock %}