{% extends 'base.html.twig' %}

{% block title %}Gezilecek Yerler{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('places_to_visit') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Gezilecek Yerler
            <small>{{ places_to_visit.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('places_to_visit_index') }}">Gezilecek Yerler</a></li>
            <li class="active"><a href="{{ path('places_to_visit_show', {id:places_to_visit.id}) }}">
                    {{ places_to_visit.name }}</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}


    <div class="box">

        <!--
        <div class="box-header with-border">
            <h3 class="box-title">Gezilecek Yerler</h3>
        </div>

       -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Yer Adı</th>
                            <td>{{ places_to_visit.name }}</td>
                        </tr>
                        <tr>
                            <th>Yerleşim Yeri</th>
                            <td>
                                {% if places_to_visit.place %}
                                    {{ places_to_visit.place.name}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hakkında</th>
                            <td>{{ places_to_visit.about[:500]|striptags }}&hellip;</td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td>{{ places_to_visit.phone }}</td>
                        </tr>
                        <tr>
                            <th>Web</th>
                            <td>{{ places_to_visit.web }}</td>
                        </tr>
                        <tr>
                            <th>Eposta</th>
                            <td>{{ places_to_visit.email }}</td>
                        </tr>
                        <tr>
                            <th>Adres</th>
                            <td>{{ places_to_visit.address }}</td>
                        </tr>
                        <tr>
                            <th>URL slug</th>
                            <td>{{ places_to_visit.slug }}</td>
                        </tr>
                        <tr>
                            <th>Öne Çıkan Resim</th>
                            <td>
                                {% if places_to_visit.featuredPicture|length > 0 %}

                                    <img src="{{ asset('uploads/ptv/')~places_to_visit.featuredPicture }}" width="300"
                                         height="225"/>
                                    <a class="btn-default btn-xs"
                                       href="{{ path('ptv_featured_photo_delete',
                                           {ptv:places_to_visit.id,
                                               _token:csrf_token('delete-featured-photo'~places_to_visit.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('Are you sure you want to delete this item?');"
                                       style="position: absolute;"><i class="fa fa-close"></i></a>

                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">

                    <div class="row">
                        <h3 class="box-title">Fotoğraf Galerisi</h3>
                        <hr>

                        <form action="{{ path('ptv_photo_new') }}" method="post" enctype="multipart/form-data">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="file" name="ptv_gallery" id="ptv_gallery">
                                    <input type="hidden" id="cropped_image" name="cropped_image"/>
                                    <input type="hidden" id="id" name="id" value="{{ places_to_visit.id }}"/>
                                    {# the argument of csrf_token() is an arbitrary string used to generate the token #}
                                    <input type="hidden" name="token" value="{{ csrf_token('new-gallery-photo') }}"/>

                                </div>

                                <div class="form-group">
                                    <button class="btn btn-success" type="submit" name="submit">
                                        <i class="fa fa-upload"></i> Yükle
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <img id="preview" src=""
                                     class="img-responsive img-bordered" width="300" height="225" alt=""/>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Resim Düzenle</h4>
                                        </div>
                                        <div class="modal-body" style="overflow: hidden">
                                            <img alt="" src="" id="selected_image"
                                                 style="max-width: 800px; max-height: 500px;"/>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default" data-method="zoom"
                                                        data-option="0.1"
                                                        title="Zoom In"
                                                        onclick="$('#selected_image').cropper('zoom', 0.1)">

                                                    <span class="fa fa-search-plus"></span>

                                                </button>
                                                <button type="button" class="btn btn-default" data-method="zoom"
                                                        data-option="-0.1"
                                                        title="Zoom Out"
                                                        onclick="$('#selected_image').cropper('zoom', -0.1)">

                                                    <span class="fa fa-search-minus"></span>

                                                </button>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="crop_image" onclick="$('#image_demo').cropper('crop')"
                                                    type="button" class="btn btn-default" data-dismiss="modal">Seç
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <hr>

                    <div class="row">
                        {% for g in places_to_visit.pTVPhotos %}


                            <img style="margin-bottom: 20px;margin-left: 20px;"
                                 src="{{ asset('uploads/ptv/gallery/')~g.filename }}" width="200"
                                 height="150" alt=""/>
                            <a class="btn-default btn-xs"
                               href="{{ path('ptv_photo_delete',
                                   {ptv:places_to_visit.id,id:g.id,_token:csrf_token('delete-gallery-photo'~g.id)}) }}"
                               target="_self"
                               onclick="return confirm('Are you sure you want to delete this item?');"
                               style="position: absolute;"><i class="fa fa-close"></i></a>


                        {% endfor %}

                    </div>


                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ path('places_to_visit_index') }}" class="btn btn-primary" style="margin-right: 10px;">Liste</a>
            <a href="{{ path('places_to_visit_edit', {'id': places_to_visit.id}) }}" class="btn btn-warning"
               style="margin-right: 10px;">Düzenle</a>
            <!-- Button trigger modal -->
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Sil
            </a>
            {{ include('places_to_visit/_delete_form.html.twig') }}
        </div>
        <!-- /.box-footer-->
    </div>

    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('places_to_visit') }}
{% endblock %}