{% extends 'base-client.html.twig' %}

{% block title %}Cart{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>
        .btn-huge {
            padding: 30px;
            font-size: 24px;
            font-family: 'Ubuntu', sans-serif;
        }
    </style>

    <div class="box">
        <div class="box-header">
            <h1 class="page-header">Cart</h1>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Picture</th>
                                <th>Name</th>
                                <th>Collection</th>
                                <th>Colors</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set genel_toplam = 0 %}
                            {% for key, value in cart_elements %}



                                {% for key,value in value %}

                                    {% set genel_toplam = genel_toplam + value.ara_toplam %}

                                    <tr>
                                        <td><img style="min-height: 63px; max-height: 63px;
                                        min-width: 100px; max-width: 100px;border: 1px solid gray"
                                                 width="100" height="63"
                                                 src="{{ asset('uploads/products/'~value.urun_resmi) }}"/></td>

                                        <td><a href="{{ path('client_product_show',{id:value.urun_id}) }}">
                                                {{ value.urun_adi }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ value.koleksiyon_adi }}
                                        </td>

                                        {% if value.ozellik == 'collection' and
                                            value.koleksiyon_adi != 'RUBIENDA' %}
                                            <td></td>
                                        {% else %}

                                            {% set ic = '' %}
                                            {% set rc = '' %}
                                            {% set oc = '' %}


                                            {% if value.inner_color == 0 %}
                                                {% set ic = '#CBCBCB' %}
                                            {% endif %}
                                            {% if value.inner_color == 1 %}{% set ic = '#393A35' %}{% endif %}
                                            {% if value.inner_color == 2 %}{% set ic = '#85796D' %}{% endif %}
                                            {% if value.inner_color == 3 %}{% set ic = '#1D70B7' %}{% endif %}
                                            {% if value.inner_color == 4 %}{% set ic = '#997A8A' %}{% endif %}
                                            {% if value.inner_color == 5 %}{% set ic = '#DCBA95' %}{% endif %}
                                            {% if value.inner_color == 6 %}{% set ic = '#53710F' %}{% endif %}
                                            {% if value.inner_color == 7 %}{% set ic = '#116B70' %}{% endif %}
                                            {% if value.inner_color == 8 %}{% set ic = '#2A361E' %}{% endif %}
                                            {% if value.inner_color == 9 %}{% set ic = '#3C5427' %}{% endif %}
                                            {% if value.inner_color == 10 %}{% set ic = '#BCC6A4' %}{% endif %}
                                            {% if value.inner_color == 11 %}{% set ic = '#FCECD2' %}{% endif %}
                                            {% if value.inner_color == 12 %}{% set ic = '#F5DC99' %}{% endif %}
                                            {% if value.inner_color == 13 %}{% set ic = '#E99311' %}{% endif %}
                                            {% if value.inner_color == 14 %}{% set ic = '#095C6F' %}{% endif %}
                                            {% if value.inner_color == 15 %}{% set ic = '#3A9E96' %}{% endif %}
                                            {% if value.inner_color == 16 %}{% set ic = '#C8E1DE' %}{% endif %}
                                            {% if value.inner_color == 17 %}{% set ic = '#FBDAD5' %}{% endif %}
                                            {% if value.inner_color == 18 %}{% set ic = '#5C1B0F' %}{% endif %}

                                            {% if value.rim_color == 0 %}
                                                {% set rc = '#CBCBCB' %}
                                            {% endif %}
                                            {% if value.rim_color == 1 %}{% set rc = '#393A35' %}{% endif %}
                                            {% if value.rim_color == 2 %}{% set rc = '#85796D' %}{% endif %}
                                            {% if value.rim_color == 3 %}{% set rc = '#1D70B7' %}{% endif %}
                                            {% if value.rim_color == 4 %}{% set rc = '#997A8A' %}{% endif %}
                                            {% if value.rim_color == 5 %}{% set rc = '#DCBA95' %}{% endif %}
                                            {% if value.rim_color == 6 %}{% set rc = '#53710F' %}{% endif %}
                                            {% if value.rim_color == 7 %}{% set rc = '#116B70' %}{% endif %}
                                            {% if value.rim_color == 8 %}{% set rc = '#2A361E' %}{% endif %}
                                            {% if value.rim_color == 9 %}{% set rc = '#3C5427' %}{% endif %}
                                            {% if value.rim_color == 10 %}{% set rc = '#BCC6A4' %}{% endif %}
                                            {% if value.rim_color == 11 %}{% set rc = '#FCECD2' %}{% endif %}
                                            {% if value.rim_color == 12 %}{% set rc = '#F5DC99' %}{% endif %}
                                            {% if value.rim_color == 13 %}{% set rc = '#E99311' %}{% endif %}
                                            {% if value.rim_color == 14 %}{% set rc = '#095C6F' %}{% endif %}
                                            {% if value.rim_color == 15 %}{% set rc = '#3A9E96' %}{% endif %}
                                            {% if value.rim_color == 16 %}{% set rc = '#C8E1DE' %}{% endif %}
                                            {% if value.rim_color == 17 %}{% set rc = '#FBDAD5' %}{% endif %}
                                            {% if value.rim_color == 18 %}{% set rc = '#5C1B0F' %}{% endif %}

                                            {% if value.outer_color == 0 %}
                                                {% set oc = '#CBCBCB' %}
                                            {% endif %}
                                            {% if value.outer_color == 1 %}{% set oc = '#393A35' %}{% endif %}
                                            {% if value.outer_color == 2 %}{% set oc = '#85796D' %}{% endif %}
                                            {% if value.outer_color == 3 %}{% set oc = '#1D70B7' %}{% endif %}
                                            {% if value.outer_color == 4 %}{% set oc = '#997A8A' %}{% endif %}
                                            {% if value.outer_color == 5 %}{% set oc = '#DCBA95' %}{% endif %}
                                            {% if value.outer_color == 6 %}{% set oc = '#53710F' %}{% endif %}
                                            {% if value.outer_color == 7 %}{% set oc = '#116B70' %}{% endif %}
                                            {% if value.outer_color == 8 %}{% set oc = '#2A361E' %}{% endif %}
                                            {% if value.outer_color == 9 %}{% set oc = '#3C5427' %}{% endif %}
                                            {% if value.outer_color == 10 %}{% set oc = '#BCC6A4' %}{% endif %}
                                            {% if value.outer_color == 11 %}{% set oc = '#FCECD2' %}{% endif %}
                                            {% if value.outer_color == 12 %}{% set oc = '#F5DC99' %}{% endif %}
                                            {% if value.outer_color == 13 %}{% set oc = '#E99311' %}{% endif %}
                                            {% if value.outer_color == 14 %}{% set oc = '#095C6F' %}{% endif %}
                                            {% if value.outer_color == 15 %}{% set oc = '#3A9E96' %}{% endif %}
                                            {% if value.outer_color == 16 %}{% set oc = '#C8E1DE' %}{% endif %}
                                            {% if value.outer_color == 17 %}{% set oc = '#FBDAD5' %}{% endif %}
                                            {% if value.outer_color == 18 %}{% set oc = '#5C1B0F' %}{% endif %}



                                            <td>
                                                <label class="label" style="background-color: {{ ic }};">
                                                    {% if value.inner_color ==0 %}
                                                        Inner: white
                                                    {% else %}
                                                        Inner: {{ value.inner_color }}
                                                    {% endif %}
                                                </label>
                                                <br>
                                                <label class="label" style="background-color: {{ rc }};">
                                                    {% if value.rim_color ==0 %}
                                                        Rim: white
                                                    {% else %}
                                                        Rim: {{ value.rim_color }}
                                                    {% endif %}
                                                </label>
                                                <br>
                                                <label class="label" style="background-color: {{ oc }};">
                                                    {% if value.outer_color ==0 %}
                                                        Outer: white
                                                    {% else %}
                                                        Outer: {{ value.outer_color }}
                                                    {% endif %}
                                                </label>
                                                <br>

                                            </td>

                                        {% endif %}

                                        <td>{{ value.urun_fiyati }}
                                            {% if app.session.get('currency')=='usd' %}
                                                $
                                            {% else %}
                                                €
                                            {% endif %}
                                        </td>
                                        <td>{{ value.siparis_adedi }}</td>
                                        <td>{{ value.ara_toplam }}
                                            {% if app.session.get('currency')=='usd' %}
                                                $
                                            {% else %}
                                                €
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('remove_from_cart',{unique:value.unique}) }}">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        <a class="btn btn-primary" href="{{ path('our_products') }}">Continue Shopping</a>
                        <hr>
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Thank You!</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>


                </div>


                <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Total: {{ genel_toplam }} €</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" action="{{ path('submit_order') }}" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                           required placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label for="surname">Surname *</label>
                                    <input type="text" class="form-control" id="surname" name="surname"
                                           required placeholder="Enter surname">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           required placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone *</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           required placeholder="+9...">
                                </div>
                                <div class="form-group">
                                    <label for="address">Delivery Address *</label>
                                    <textarea class="form-control" id="address" name="address" required
                                              rows="3" placeholder="Enter ..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="invoice_address">Invoice Address *</label>
                                    <textarea class="form-control" id="invoice_address" name="invoice_address" required
                                              rows="3" placeholder="Enter ..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="attention">Attention To (optional)</label>
                                    <input type="text" class="form-control" id="attention" name="attention"
                                           placeholder="Attention To">
                                </div>

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-success">Submit Order</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>









{% endblock %}
