{% extends 'base-client.html.twig' %}

{% block title %}Custom Enamelware{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            CUSTOM ENAMELWARE
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('our_products') }}"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{{ path('custom-products') }}">Custom Enamelware</a></li>
            <li class="active">

            </li>
        </ol>
    </section>

{% endblock %}

{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>


        .btn-huge {
            padding:30px;
            font-size: 24px;
            font-family: 'Ubuntu', sans-serif;
        }
    </style>


        <div class="box">
            <div class="box-body">


                <div id="products" class="row view-group">


                    {% for p in products %}
                        <div class="item col-xs-6 col-lg-4">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img style="min-height: 125px; max-height: 125px; min-width: 200px; max-width: 200px;"
                                            class="group list-group-image img-responsive" width="200" height="125"
                                         src="{{ asset('uploads/products/'~p.picture) }}" alt="" />
                                </div>
                                <div class="caption card-body">
                                    <h4 class="group card-title inner list-group-item-heading">
                                        {{ p.name }}</h4>
                                    <p class="group inner list-group-item-text">
                                        </p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <p class="lead">{{ p.price }} €</p>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <a class="btn bg-maroon btn-flat margin pull-right"
                                               href="{{ path('client_product_show',{id:p.id}) }}">More »</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}




                </div>




            </div>
        </div>









{% endblock %}
