{% extends 'base-client.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            {% if product.property == 'collection' %}
                {{ product.collection.collectionGroup.name }}
            {% else %}
                CUSTOM ENAMELWARE - {{ product.type|upper }}
            {% endif %}
            <small>
                {% if product.property == 'collection' %}
                    {{ product.collection.name }}
                {% else %}

                {% endif %}
            </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('our_products') }}"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{{ path('our_collections') }}">Our Collections</a></li>
            <li class="active">

            </li>
        </ol>

    </section>

{% endblock %}

{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>


        .btn-huge {
            padding: 10px;
            font-size: 18px;
            font-family: 'Ubuntu', sans-serif;
        }


    </style>


    <div class="box">
        <div class="box-body">

            <form method="post" action="{{ path('add_to_cart') }}">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ product.name }}</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td>{{ product.code }}</td>
                        </tr>
                        <tr>
                            <th>Properties</th>
                            <td>{{ product.properties }}</td>
                        </tr>
                        <tr>
                            <th>Packaging</th>
                            <td>{{ product.packaging }}</td>
                        </tr>


                        {% if product.property == 'custom' or
                            product.collection.collectionGroup.name == 'RUBIENDA COLLECTION' %}

                            <tr>
                                <th>Inner Color</th>
                                <td>
                                    <select class="form-control" name="inner_color" id="inner_color">
                                        <option value="">white</option>
                                        {% for cc in range(1, 18) %}
                                            <option value="{{ cc }}">{{ cc }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Rim Color</th>
                                <td>
                                    <select class="form-control" name="rim_color" id="rim_color">
                                        <option value="">white</option>
                                        {% for cc in range(1, 18) %}
                                            <option value="{{ cc }}">{{ cc }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Outer Color</th>
                                <td>
                                    <select class="form-control" name="outer_color" id="outer_color">
                                        <option value="">white</option>
                                        {% for cc in range(1, 18) %}
                                            <option value="{{ cc }}">{{ cc }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>

                            <input type="hidden" value="1" name="colors" />



                        {% endif %}


                        </tbody>
                    </table>
                    <hr>
                    <table class="table table-bordered">
                        <tr>
                            <th>Price:</th>
                            <td style="font-size: 24px"><span id="p_price">{{ product.price }}</span>
                                {% if app.session.get('currency')=='usd'  %}
                                    $
                                {% else %}
                                    €
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                        <tr>
                            <th>Quantity:</th>
                            <td>



                                    <div class="input-group margin">

                                        <input type="hidden" name="product" value="{{ product.id }}" />


                                        <div class="row">
                                            <div class="input-group margin">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-info btn-number"
                                                            data-type="plus"
                                                            data-field="quant[1]"
                                                    ><i class="fa fa-plus"></i></button>
                                                </div>
                                                <!-- /btn-group -->
                                                <input type="text" name="quant[1]" class="form-control input-number" value="1"
                                                       min="1" max="1000000">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-info btn-number"
                                                            disabled="disabled"
                                                            data-type="minus"
                                                            data-field="quant[1]"
                                                    ><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <button type="submit" class="btn bg-maroon btn-flat margin btn-huge">
                                        <i class="fa fa-shopping-cart"></i> ADD TO CART</button>




                            </td>
                        </tr>

                    </table>


                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Tebrikler!</h4>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-6">

                    {% if product.property == 'custom' or
                        product.collection.collectionGroup.name == 'RUBIENDA COLLECTION' %}

                        <img src="{{ asset('uploads/colors.jpg') }}"
                             class="img-responsive"
                             style="border: 1px solid lightgray">

                    {% else %}

                        {% if product.picture != "" %}
                            <img src="{{ asset('uploads/products/')~product.picture }}"
                                 class="img-responsive"
                                 style="border: 1px solid lightgray"
                                 height="313" width="500">
                        {% endif %}
                    {% endif %}





                </div>
            </div>
            </form>







        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            {% if product.picture != "" %}
                <img src="{{ asset('uploads/products/')~product.picture }}"
                     class="img-responsive"
                     style="border: 1px solid lightgray"
                     height="500" width="800">
            {% endif %}
        </div>
    </div>



{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript">


        // + %10
        $('#inner_color').on('change',function () {
            let price = parseFloat("{{ product.price }}");
            let ic = $('#inner_color').val();
            let rc = $('#rim_color').val();
            let oc = $('#outer_color').val();
            let renk_say = 0;
            if($.isNumeric(ic)){renk_say++}
            if($.isNumeric(rc)){renk_say++}
            if($.isNumeric(oc)){renk_say++}
            let new_price = 0;
            if(renk_say > 1){
                new_price = (parseFloat(((price*10)/100)+price));
                $('#p_price').text(new_price.toFixed(2));
            }
            else {
                $('#p_price').text(price);
            }
        });

        $('#rim_color').on('change',function () {
            let price = parseFloat("{{ product.price }}");
            let ic = $('#inner_color').val();
            let rc = $('#rim_color').val();
            let oc = $('#outer_color').val();
            let renk_say = 0;
            if($.isNumeric(ic)){renk_say++}
            if($.isNumeric(rc)){renk_say++}
            if($.isNumeric(oc)){renk_say++}
            let new_price = 0;
            if(renk_say > 1){
                new_price = (parseFloat(((price*10)/100)+price));
                $('#p_price').text(new_price.toFixed(2));
            }
            else {
                $('#p_price').text(price);
            }
        });


        $('#outer_color').on('change',function () {
            let price = parseFloat("{{ product.price }}");
            let ic = $('#inner_color').val();
            let rc = $('#rim_color').val();
            let oc = $('#outer_color').val();
            let renk_say = 0;
            if($.isNumeric(ic)){renk_say++}
            if($.isNumeric(rc)){renk_say++}
            if($.isNumeric(oc)){renk_say++}
            let new_price = 0;
            if(renk_say > 1){
                new_price = (parseFloat(((price*10)/100)+price));
                $('#p_price').text(new_price.toFixed(2));
            }
            else {
                $('#p_price').text(price);
            }
        });



        $('.btn-number').click(function(e){
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type      = $(this).attr('data-type');
            var input = $("input[name='"+fieldName+"']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if(type == 'minus') {

                    if(currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if(parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if(type == 'plus') {

                    if(currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if(parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function(){
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function() {

            minValue =  parseInt(1);
            maxValue =  parseInt(100000000);
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if(valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if(valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    </script>

{% endblock %}
