{% extends 'base.html.twig' %}

{% block title %}Yerleşim Yeri{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('place') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Yerleşim Yeri
            <small>{{ place.name }} (edit)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('place_index') }}">Yerleşim Yeri</a></li>
            <li class="active"><a href="{{ path('place_edit', {id:place.id}) }}">
                    {{ place.name }} (edit)</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!--
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>-->
                <!-- /.box-header -->
                <!-- form start -->

                {{ include('place/_form.html.twig') }}

                <div class="box-footer">
                    <a class="btn btn-primary" style="margin-right: 10px;"
                       href="{{ path('place_show',{id:place.id}) }}">Geri</a>
                    <button class="btn btn-success">{{ button_label|default('Güncelle') }}</button>

                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('place') }}
{% endblock %}
