{% extends 'base.html.twig' %}

{% block title %}Yerleşim Yerleri{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('place') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Yerleşim Yerleri
            <small>Liste</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li class="active"><a href="{{ path('place_index') }}">Yerleşim Yerleri</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <!--
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                -->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="example1_wrapper"
                                 class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
                                <table id="example1" class="table table-bordered table-striped
                                table-hover table-condensed
                                dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_desc">Yer Adı</th>
                                        <th>Hakkında</th>
                                        <th>Harita</th>
                                        <th>Öne Çıkan Görsel</th>
                                        <th>İlçe / Mahalle</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for place in places %}
                                        <tr>
                                            <td>{{ place.name }}</td>
                                            <td>{{ place.about }}</td>
                                            <td>{{ place.map }}</td>
                                            <td>{{ place.featuredImage }}</td>
                                            <td>{{ place.type }}</td>
                                            <td>
                                                <a href="{{ path('place_show', {'id': place.id}) }}"
                                                   class="btn btn-xs btn-primary pull-left">Göster</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>


    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('place') }}
{% endblock %}