{% extends 'base.html.twig' %}

{% block title %}Duyurular{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('announce') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Duyurular
            <small>{{ announce.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('announce_index') }}">Duyurular</a></li>
            <li class="active"><a href="{{ path('announce_show', {id:announce.id}) }}">
                    {{ announce.name }}</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}


    <div class="box">

        <!--
        <div class="box-header with-border">
            <h3 class="box-title">Gezilecek Yerler</h3>
        </div>

       -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ announce.name }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ announce.description|raw }}</td>
                        </tr>
                        <tr>
                            <th>Last Update</th>
                            <td>{{ announce.lastUpdate ? announce.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>
                                {% if announce.image|length > 0 %}

                                    <img src="{{ asset('uploads/announce/')~announce.image }}" width="300"
                                         height="225"/>
                                    <a class="btn-default btn-xs"
                                       href="{{ path('announce_featured_photo_delete',
                                           {announce:announce.id,
                                               _token:csrf_token('delete-featured-photo'~announce.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('Are you sure you want to delete this item?');"
                                       style="position: absolute;"><i class="fa fa-close"></i></a>


                                {% endif %}

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ path('announce_index') }}" class="btn btn-primary" style="margin-right: 10px;">Liste</a>
            <a href="{{ path('announce_edit', {'id': announce.id}) }}" class="btn btn-warning"
               style="margin-right: 10px;">Düzenle</a>
            <!-- Button trigger modal -->
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Sil
            </a>
            {{ include('announce/_delete_form.html.twig') }}
        </div>
        <!-- /.box-footer-->
    </div>



    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('announce') }}
{% endblock %}