{% extends 'web_site/base.html.twig' %}

{% block title %}İlan Detayı - {{ advert_detail.title|title }}{% endblock %}


{% block body %}

    <!-- Blog -->
    <section class="p_t30 bg_lightgry" id="blog">
        <div class="container">

            <div class="row">

                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="blog heading">

                        {# @var advert_detail \\App\Entity\Advert #}

                        <h4>{{ advert_detail.title|title }}</h4>
                        <ul class="blog-admin">

                            <li><i class="fa fa-clock-o"></i>
                                {{ 'advert_detail.last_update'|trans({}, 'advert') }}:
                                <a href="#"> {{ advert_detail.lastUpdate|date('d/m/Y') }}</a>
                            </li>
                        </ul>


                        {% if advert_detail.featuredImage|length > 10 %}
                            <div class="blog-img" style="height: 470px; overflow: hidden;">
                                <img alt="image" style="width: 870px; height: 470px;"
                                     src="{{ asset('uploads/advert/'~advert_detail.featuredImage) }}">
                            </div>
                        {% endif %}

                        <div class="blog-detail">
                            {{ advert_detail.description|raw }}
                        </div>

                    </div>

                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    {#<div class="right-bar bg_white">
                        <a href="javascript:history.back()"><i class="fa fa-caret-left"></i> Geri Dön</a>
                    </div>#}

                    <div class="right-bar bg_white">

                        <h4 style="font-size: 24px; padding-bottom: 10px">
                            <span>
                                {# ilanda göster seçeneği aktifse #}
                                {% if advert_detail.secretPrice == 1 %}
                                    <p>{{ advert_detail.price|number_format(0, '.', '.') }} ₺</p>
                                {% else %}
                                    <p>Fiyat bilgisi paylaşılmamış.</p>
                                {% endif %}
                            </span>

                            <p style="font-size: 14px;color: #626e80">
                                {{ advert_detail.place.parent.name }} / {{ advert_detail.place.name }}
                            </p>

                        </h4>

                        <hr style="margin: 0 0 0 0">

                        <p style="padding: 10px 0 2px 0; color: #000000;">
                            {{ advert_detail.owner }}
                        </p>
                        <p style="padding: 2px 0 10px 0; color: #626e80;font-size: 12px">
                            {{ advert_detail.user.registrationDate|date('d/m/Y') }} tarihinden beri üye
                        </p>


                        {# ilanda göster seçeneği aktifse #}
                        <div style="background:#F6F6F6; border-radius: 5px; padding-left: 5px">
                            {% if advert_detail.secretPhone == 1 %}
                                <p style="padding: 10px 0 10px 0">{{ advert_detail.telephone }}</p>
                            {% else %}
                                <p>Telefon bilgisi paylaşılmamış.</p>
                            {% endif %}
                        </div>

                        <hr>

                        <button type="button" class="btn btn-block btn-default btn-lg">
                            <i class="fa fa-paper-plane-o"></i> Mesaj Gönder
                        </button>

                        {# ilanda göster seçeneği aktifse #}
                        {#{% if advert_detail.secretEmail == 1 %}
                            <p style="padding: 10px 0 10px 0">{{ advert_detail.email }}</p>
                        {% else %}
                            <p>E-posta bilgisi paylaşılmamış.</p>
                        {% endif %}#}


                    </div>

                </div>

            </div>
    </section>
    <!-- Blog -->

{% endblock %}