{% extends 'web_site/base.html.twig' %}

{% block title %}Duyuru Detayı - {{ announce_detail.name|title }}{% endblock %}

{% block metaTags %}
    <meta name="description" lang="tr" content="Edremit Körfezi - Duyurular"/>

    <!-- Open Graph Meta Tags -->
    <meta property="og:site_name" content="www.edremitkorfezi.com"/>
    <meta property="og:title" content="Edremit Körfezi - Duyurular: {{ announce_detail.name }}"/>
    <meta property="og:description" content="Edremit körfezindeki en son duyurulardan haberdan olun."/>
    <meta property="og:image" content="{{ asset('build/img/front_end/logo.png') }}"/>
    <meta property="og:url" content="https://www.edremitkorfezi.com/duyurular/{{ announce_detail.slug }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:article:tag" content="Edremit Körfezi - Duyurular: {{ announce_detail.name }}"/>
    <meta property="og:article:author" content="Edremit Körfezi"/>
    <meta property="og:locale" content="tr_TR"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@edremitkorfezi"/>
    <meta name="twitter:creator" content="@edremitkorfezi"/>
    <meta name="twitter:url" content="https://www.edremitkorfezi.com/duyurular/{{ announce_detail.slug }}"/>
    <meta name="twitter:title" content="Edremit Körfezi - Duyurular: {{ announce_detail.name }}"/>
    <meta name="twitter:description" content="Edremit körfezindeki en son duyurulardan haberdan olun."/>
    <meta name="twitter:image:src" content="{{ asset('build/img/front_end/logo.png') }}"/>
    <meta name="twitter:domain" content="edremitkorfezi.com"/>
    <!-- TODO meta etiketleri ptv için düzenle  -->

{% endblock %}


{% block body %}

    <!-- Blog -->
    <section class="p_t30 bg_lightgry" id="blog">
        <div class="container">

            <div class="row">

                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="blog heading">

                        {# @var announce_detail App\Entity\Announce #}

                        <h2>{{ announce_detail.name|title }}</h2>


                        <div class="blog-detail">

                            <ul class="blog-admin">

                                <li>
                                    <div class="sharethis-inline-share-buttons"></div>
                                </li>

                                <li><i class="fa fa-user"></i>{{ 'announce_detail.posted_by'|trans({}, 'announce') }}:
                                    <a href="#"> {{ announce_detail.user.username }}</a>
                                </li>
                                <li><i class="fa fa-clock-o"></i>
                                    {{ 'announce_detail.last_update'|trans({}, 'announce') }}:
                                    <a href="#"> {{ announce_detail.lastUpdate|date('d/m/Y') }}</a>
                                </li>
                            </ul>

                            {{ announce_detail.description|raw }}

                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="right-bar bg_white">
                        <a href="javascript:history.back()"><i class="fa fa-caret-left"></i> Geri Dön</a>
                    </div>

                    <div class="right-bar bg_white">
                        <h4>Duyuru <span>Detayları</span></h4>
                        <table class="table">
                            <tbody>

                            <tr>
                                <th scope="col">Kategori</th>
                                <td>
                                    {% if announce_detail.category %}
                                        {{ announce_detail.category|trans({}, 'announce') }}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th scope="col">Bölge</th>
                                <td>
                                    {{ announce_detail.place.name }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="col">Semt/Mah.</th>
                                <td>
                                    {% if announce_detail.subPlace %}
                                        {{ announce_detail.subPlace.name }}
                                    {% endif %}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Blog -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#{{ encore_entry_script_tags('article_detail') }}#}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fdef44c035860001143952d&product=inline-share-buttons"
            async="async"></script>
{% endblock %}