{% extends 'web_site/base.html.twig' %}

{% block title %}{{ article_detail.title|title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article_detail') }}
    <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
{% endblock %}


{% block body %}

    <!-- Blog -->
    <section class="p_t30 bg_lightgry" id="blog">
        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="right-bar bg_white">
                        <a href="javascript:history.back()"><i class="fa fa-caret-left"></i> Geri Dön</a>
                    </div>

                    <div class="right-bar bg_white">
                        <div class="places-list">
                            <div class="media">
                                <div class="media-heading">
                                    <h4>{{ article_detail.user.author.name }}</h4>
                                </div>
                                <div class="media-left">
                                    <img class="img-circle"
                                         style="max-width: 200px; max-height: 200px;"
                                         src="{{ asset('uploads/user/picture/') }}{{ article_detail.user.picture }}" alt="image">
                                </div>


                                <hr>

                                <div class="media-bottom">
                                    {% if article_detail.user.author.instagram %}
                                        <i class="fa fa-instagram" style="font-size: 16px"></i>
                                    <a href="http://www.instagram.com/{{ article_detail.user.author.instagram }}/"
                                       style="text-decoration: underline; font-size: 16px"
                                       target="_blank">{{ article_detail.user.author.instagram }}</a><br>
                                    {% endif %}

                                    {% if article_detail.user.author.twitter %}
                                        <i class="fa fa-twitter" style="font-size: 16px"></i>
                                        <a href="http://www.twitter.com/{{ article_detail.user.author.twitter }}/"
                                           style="text-decoration: underline; font-size: 16px"
                                           target="_blank">{{ article_detail.user.author.twitter }}</a><br>
                                    {% endif %}

                                    {% if article_detail.user.author.facebook %}
                                        <i class="fa fa-facebook" style="font-size: 16px"></i>
                                        <a href="http://www.facebook.com/{{ article_detail.user.author.facebook }}/"
                                           style="text-decoration: underline; font-size: 16px"
                                           target="_blank">{{ article_detail.user.author.facebook }}</a><br>
                                    {% endif %}

                                    {% if article_detail.user.author.website %}
                                        <i class="fa fa-globe" style="font-size: 16px"></i>
                                        <a href="http://{{ article_detail.user.author.website }}/"
                                           style="text-decoration: underline; font-size: 16px"
                                           target="_blank">{{ article_detail.user.author.website }}</a><br>
                                    {% endif %}
                                </div>

                            </div>
                        </div>

                        <a href="{{ path('articles', {author:article_detail.user.id})}}" class="btn-block flat-butt flat-primary-butt"
                           style="color: #FFFFFF;text-align: center; margin-top: 10px;">
                            Tüm Yazılarını Göster
                        </a>
                    </div>

                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="blog heading">

                        <h2>{{ article_detail.title|title }}</h2>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="sharethis-inline-share-buttons"></div>

                            </div>
                        </div>

                        
                        <div class="blog-detail">

                            <ul class="blog-admin">
                                <li><i class="fa fa-user"></i>{{ 'articles.detail.posted_by'|trans({}, 'article') }}:
                                    <a href="#">{{ article_detail.user.author.name }}</a>
                                </li>
                                <li><i class="fa fa-clock-o"></i>
                                    {{ 'articles.detail.last_update'|trans({}, 'article') }}:
                                    <a href="#"> {{ article_detail.lastUpdate|date('d/m/Y') }}</a>
                                </li>
                                <li><i class="fa fa-eye"></i>
                                    {{ 'articles.detail.view'|trans({}, 'article') }}:
                                    <a href="#"> {{ article_detail.totalViews }}</a>
                                </li>
                            </ul>

                            {{ article_detail.article|raw }}
                            <input type="hidden" id="article_text_count" value="{{ article_detail.article|striptags|trim }}" />
                            <input type="hidden" id="article_id" value="{{ article_detail.id }}" />
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <applause-button style="width: 58px; height: 58px;margin-top: 20px;" />

                            </div>
                        </div>


                    </div>

                </div>



            </div>

        </div>
    </section>
    <!-- Blog -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article_detail') }}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fdef44c035860001143952d&product=inline-share-buttons" async="async"></script>
    <script type="text/javascript" src="https://unpkg.com/applause-button/dist/applause-button.js" async="async"></script>
{% endblock %}