{% extends 'web_site/base.html.twig' %}

{% block title %}{{ 'business_guide.business_guide'|trans({}, 'business') }}{% endblock %}

{% block body %}

    <section id="inner-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="inner_banner_detail">
                        <h2>{{ 'business_guide.business_guide'|trans({}, 'business') }}</h2>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="popular-listing" class="p_b70 p_t70">
        <div class="container">
            <div class="row">

                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="row">
                        <div class="col-md-12">

                            {% for b in businesses %}

                                <div class="popular-listing-box">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="popular-listing-img">
                                                <figure class="effect-ming">
                                                    {% if b.featuredPicture is not null %}
                                                        <img src="{{ asset('uploads/business/')~b.featuredPicture }}"
                                                             alt="image">
                                                    {% else %}
                                                        <img src="{{ asset('build/img/no-image.png') }}"
                                                             alt="image">

                                                    {% endif %}
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="popular-listing-detail">
                                                <h3><a href="#">{{ b.name|title }}</a></h3>
                                                <p>{{ (b.about|striptags)[:100] }} </p>
                                            </div>
                                            <div class="popular-listing-add">
                                                <span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    {{ b.place.name }}
                                                </span>
                                                <a href="#" class="pull-right">Detaylı Göster &raquo;</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            {% endfor %}


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {# display navigation #}
                            <div class="navigation">
                                {{ knp_pagination_render(businesses) }}
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-3 col-sm-3 col-xs-12 listing-rightbar">

                    <div class="right-bar bg_white">
                        <h4>{{ 'business_guide.advanced'|trans({}, 'business') }}
                            <span>{{ 'business_guide.searching'|trans({}, 'business') }}</span></h4>
                        <form class="form-right" method="get"
                              action="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">


                            <div class="form-group">
                                <label for="name">İşletme Adında Ara</label>
                                <label for="name"></label><input class="form-control" id="name"
                                                                 name="name" value="" type="text">
                            </div>

                            <div class="form-group">
                                <select name="cat">
                                    {% for key, value in categories %}
                                        <option value="{{ value['shortname'] }}">{{ value['shortname']| trans({}, 'business') }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="form-group">
                                <button>{{ 'business_guide.search'|trans({}, 'business') }}</button>
                            </div>
                        </form>
                    </div>



                    <div class="right-bar bg_white">
                        <h4>{{ 'business_guide.category'|trans({}, 'business') }}
                            <span>{{ 'business_guide.list'|trans({}, 'business') }}</span></h4>
                        <ul class="right-bar-listing">
                            {% for key, value in categories %}
                                <li>
                                    {# get parameter varsa & ile ekle #}
                                    {% if app.request.query.all|length > 0  %}

                                        <a href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}&cat={{ value['shortname'] }}">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                            {{ value['shortname']| trans({}, 'business') }}
                                            <span>({{ value['total'] }})</span>
                                        </a>

                                    {% else %}

                                        <a href="{{ path('business_guide') }}?cat={{ value['shortname'] }}">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                            {{ value['shortname']| trans({}, 'business') }}
                                            <span>({{ value['total'] }})</span>
                                        </a>

                                    {% endif %}


                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </section>



{% endblock %}