{% extends 'web_site/base.html.twig' %}

{% block title %}{{ 'business_guide.business_guide'|trans({}, 'business') }}{% endblock %}

{% block metaTags %}
    <meta name="description" lang="tr" content="Edremit Körfezi - İşletme ve İş Rehberi"/>

    <!-- Open Graph Meta Tags -->
    <meta property="og:site_name" content="www.edremitkorfezi.com"/>
    <meta property="og:title" content="Edremit Körfezi - İşletme ve İş Rehberi"/>
    <meta property="og:description" content="Edremit körfezindeki işletmeler ve hizmetler."/>
    <meta property="og:image" content="{{ asset('build/img/front_end/logo.png') }}"/>
    <meta property="og:url" content="https://www.edremitkorfezi.com/isletme-rehberi"/>
    <meta property="og:type" content="article"/>
    <meta property="og:article:tag" content="Edremit Körfezi - İşletme ve İş Rehberi"/>
    <meta property="og:article:author" content="Edremit Körfezi"/>
    <meta property="og:locale" content="tr_TR"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@edremitkorfezi"/>
    <meta name="twitter:creator" content="@edremitkorfezi"/>
    <meta name="twitter:url" content="https://www.edremitkorfezi.com/isletme-rehberi"/>
    <meta name="twitter:title" content="Edremit Körfezi - İşletme ve İş Rehberi"/>
    <meta name="twitter:description" content="Edremit körfezindeki işletmeler ve hizmetler."/>
    <meta name="twitter:image:src" content="{{ asset('build/img/front_end/logo.png') }}"/>
    <meta name="twitter:domain" content="edremitkorfezi.com"/>
    <!-- TODO meta etiketleri ptv için düzenle  -->

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('business_guide') }}
{% endblock %}


{% block body %}

    <section id="inner-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="inner_banner_detail">
                        <h2>{{ 'business_guide.business_guide'|trans({}, 'business') }}</h2>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="popular-listing" class="p_b30 p_t30">
        <div class="container">
            <div class="row">

                <div class="col-md-9 col-sm-9 col-xs-12">



                    <div class="row">
                        <div class="col-md-12">


                            {% if businesses|length > 0 %}


                            {% endif %}

                            {% for b in businesses %}

                                <div class="popular-listing-box">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="popular-listing-img">
                                                <figure class="effect-ming">
                                                    {% if b.featuredPicture is not null %}
                                                        <img src="{{ asset('uploads/business/')~b.featuredPicture }}"
                                                             alt="image">
                                                    {% else %}
                                                        <img src="{{ asset('build/img/no-image-800x432.png') }}"
                                                             alt="image">

                                                    {% endif %}
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="popular-listing-detail">
                                                <h3><a href="{{ path('business_detail', {id:b.id,slug:b.slug}) }}">
                                                        {{ b.name|title }}</a></h3>
                                                <p>{{ (b.about|striptags)[:100] }}&hellip;</p>
                                            </div>
                                            <div class="popular-listing-add" style="font-size: 11px">
                                                <span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    {{ b.place.name }}
                                                    {% if b.subPlace %}
                                                        , {{ b.subPlace.name }}
                                                    {% endif %}
                                                </span>

                                                <span style="margin-left: 20px">
                                                    <i class="fa fa-tag" aria-hidden="true"></i>
                                                    {{ b.category.shortname|trans({}, 'business') }}</span>



                                                <a href="{{ path('business_detail', {id:b.id,slug:b.slug}) }}"
                                                   class="pull-right btn btn-default btn-xs">Göster</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            {% endfor %}


                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            {# display navigation #}
                            <div class="navigation">
                                {{ knp_pagination_render(businesses) }}
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-3 col-sm-3 col-xs-12 listing-rightbar">


                    {% if app.request.get('name') is not null or
                        app.request.get('cat') is not null or
                        app.request.get('place') is not null
                    %}

                        <div class="right-bar bg_white">
                            Arama sonuçlarına göre,
                            toplam <b>{{ businesses|length }}</b> kayıt listelendi.
                        </div>

                    {% endif %}


                    <div class="right-bar bg_white">
                        <h4>{{ 'business_guide.advanced'|trans({}, 'business') }}
                            <span>{{ 'business_guide.searching'|trans({}, 'business') }}</span></h4>
                        <form class="form-right" method="get"
                              action="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">


                            <div class="form-group">
                                <label for="name">{{ 'business_guide.business_name'|trans({}, 'business') }}</label>

                                {% set bname = "" %}
                                {% if app.request.get('name') is not null %}
                                    {% set bname = app.request.get('name') %}
                                {% endif %}
                                <label for="name"></label>
                                <input class="form-control" id="name" minlength="3"
                                                                 name="name" value="{{ bname }}" type="text">
                            </div>

                            <div class="form-group">
                                <label for="cat">{{ 'business_guide.category'|trans({}, 'business') }}</label><br>
                                <select name="cat" id="cat" class="form-control">
                                    <option value="">Tümü</option>
                                    {% for key, value in categories %}
                                        <option
                                                {% set selected = '' %}
                                                {% if value['shortname'] == app.request.get('cat') %}
                                                    {% set selected = 'selected' %}
                                                {% endif %}

                                                {{ selected }}

                                                value="{{ value['shortname'] }}">{{ value['shortname']| trans({}, 'business') }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="place">{{ 'ptv.place'|trans({}, 'ptv') }}</label><br>
                                <select name="place" id="place" class="form-control">
                                    <option value=""></option>
                                    {% for p in places %}
                                        <option
                                                {% set selected = '' %}
                                                {% if p.slug == app.request.get('place') %}
                                                    {% set selected = 'selected' %}

                                                {% endif %}

                                                {{ selected }}

                                                value="{{ p.slug }}">{{ p.name }}</option>
                                    {% endfor %}
                                </select>

                                <img id="opt_loader_place"
                                     style="height: 16px;width: 16px;margin-top: -4px;display: none"
                                     src="{{ asset('build/img/front_end/loading.gif') }}" alt=""/>

                            </div>

                            <div class="form-group">
                                <label for="sub_place">Semt / Mahalle</label><br>
                                <select name="sub_place" id="sub_place" class="form-control">
                                </select>
                                <input type="hidden" id="sub_place_id" value="{{ app.request.get('sub_place') }}">

                            </div>

                            <div class="form-group">
                                <button type="submit">{{ 'business_guide.search'|trans({}, 'business') }}</button>
                            </div>

                        </form>

                        <a href="{{ path('business_guide') }}" class="btn btn-block btn-default">
                            Aramayı Sıfırla
                        </a>
                    </div>





                    <div class="right-bar bg_white">
                        <h4>{{ 'business_guide.category'|trans({}, 'business') }}
                            <span>{{ 'business_guide.list'|trans({}, 'business') }}</span></h4>
                        <ul class="right-bar-listing">
                            {% for key, value in categories %}

                                <li>
                                    <a href="{{ path('business_guide') }}?cat={{ value['shortname'] }}">
                                        {{ value['shortname']| trans({}, 'business') }}
                                        <span>({{ value['total'] }})</span>
                                    </a>
                                </li>

                            {% endfor %}
                        </ul>


                    </div>

                </div>

            </div>
        </div>
    </section>



{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('business_guide') }}


    <script type="application/javascript">
        // Remove empty fields from GET forms
        // Author: Bill Erickson
        // URL: http://www.billerickson.net/code/hide-empty-fields-get-form/

        // Change 'form' to class or ID of your specific form
        $("form").submit(function () {
            $(this).find(":input").filter(function () {
                return !this.value;
            }).attr("disabled", "disabled");
            return true; // ensure form still submits
        });

        // Un-disable form fields when page loads, in case they click back after submission
        $("form").find(":input").prop("disabled", false);
    </script>

{% endblock %}