{% extends 'web_site/base.html.twig' %}

{% block title %}{{ 'ptv.header'|trans({}, 'ptv') }}{% endblock %}

{% block metaTags %}
    <meta name="description" lang="tr" content="Edremit Körfezi - Gezilecek Yerler"/>

    <!-- Open Graph Meta Tags -->
    <meta property="og:site_name" content="www.edremitkorfezi.com"/>
    <meta property="og:title" content="Edremit Körfezi - Gezilecek Yerler"/>
    <meta property="og:description" content="Edremit körfezinde gezilecek yerler."/>
    <meta property="og:image" content="{{ asset('build/img/front_end/logo.png') }}"/>
    <meta property="og:url" content="https://www.edremitkorfezi.com/gezi-rehberi"/>
    <meta property="og:type" content="article"/>
    <meta property="og:article:tag" content="Edremit Körfezi - Gezilecek Yerler"/>
    <meta property="og:article:author" content="Edremit Körfezi"/>
    <meta property="og:locale" content="tr_TR"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@edremitkorfezi"/>
    <meta name="twitter:creator" content="@edremitkorfezi"/>
    <meta name="twitter:url" content="https://www.edremitkorfezi.com/gezi-rehberi"/>
    <meta name="twitter:title" content="Edremit Körfezi - Gezilecek Yerler"/>
    <meta name="twitter:description" content="Edremit körfezinde gezilecek yerler."/>
    <meta name="twitter:image:src" content="{{ asset('build/img/front_end/logo.png') }}"/>
    <meta name="twitter:domain" content="edremitkorfezi.com"/>
    <!-- TODO meta etiketleri ptv için düzenle  -->

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ptv') }}
{% endblock %}


{% block body %}


    <section id="inner-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="inner_banner_detail">
                        {% if short_name is null %}
                            <h2>Gezi Rehberi</h2>
                        {% else %}
                            <h2>Gezi Rehberi / {{ ('header_menu.'~short_name)|trans({}, 'ptv') }}</h2>
                        {% endif %}

                        {% if app.request.get('title') is not null %}
                            <span style="font-size: 16px">
                                    {% if places_to_visit|length > 0 %}
                                        &nbsp;(Arama sonuçlarına göre,
                                        toplam <b>{{ places_to_visit|length }}</b> kayıt listelendi)
                                    {% endif %}
                                </span>
                        {% endif %}


                    </div>
                </div>

            </div>
        </div>
    </section>



    <section id="popular-listing" class="p_b30 p_t30">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">

                            {# @var ptv \App\Entity\PlacesToVisit  #}
                            {% for ptv in places_to_visit %}
                                <div class="popular-listing-box">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="popular-listing-img">
                                                <figure class="effect-ming">

                                                    {% if ptv.featuredPicture is not null %}
                                                        <img src="{{ asset('uploads/ptv/')~ptv.featuredPicture }}"
                                                             alt="image">
                                                    {% else %}
                                                        <img src="{{ asset('build/img/no-image-800x432.png') }}"
                                                             alt="image">

                                                    {% endif %}
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="popular-listing-detail">
                                                <h3>
                                                      <a style="text-decoration: underline"
                                                       href="{{ path('ptv_detail', {district:ptv.place.slug, slug:ptv.slug}) }}">
                                                        {{ ptv.name|title }}
                                                    </a>
                                                </h3>
                                                <p>{{ (ptv.about|striptags)[:57] }}&hellip;</p>
                                            </div>
                                            <div class="popular-listing-add" style="font-size: 11px">

                                                <span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    {{ ptv.place.name }}
                                                    {% if ptv.subPlace %}
                                                        , {{ ptv.subPlace.name }}
                                                    {% endif %}
                                                </span>

                                                <a href="{{ path('ptv_detail', {district:ptv.place.slug, slug:ptv.slug}) }}"
                                                   class="pull-right btn btn-default btn-xs">{{ 'ptv.show_detail'|trans({}, 'ptv') }}</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {# display navigation #}
                            <div class="navigation">
                                {{ knp_pagination_render(places_to_visit) }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 listing-rightbar">
                    <div class="right-bar bg_white">
                        <h4>{{ 'business_guide.advanced'|trans({}, 'business') }}
                            <span>{{ 'ptv.searching'|trans({}, 'ptv') }}</span></h4>
                        <form class="form-right" method="get"
                              action="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">


                            <div class="form-group">
                                <label for="name">{{ 'ptv.search'|trans({}, 'ptv') }}</label>

                                {% set title = "" %}
                                {% if app.request.get('title') is not null %}
                                    {% set title = app.request.get('title') %}
                                {% endif %}

                                <label for="name"></label>
                                <input class="form-control" id="title" minlength="3"
                                       name="title" value="{{ title }}" type="text">
                            </div>

                            <div class="form-group">
                                <label for="place">{{ 'ptv.place'|trans({}, 'ptv') }}</label><br>
                                <select name="place" id="place" class="form-control">
                                    <option value=""></option>
                                    {% for p in places %}
                                        <option
                                                {% set selected = '' %}
                                                {% if p.slug == app.request.get('place') %}
                                                    {% set selected = 'selected' %}

                                                {% endif %}

                                                {{ selected }}

                                                value="{{ p.slug }}">{{ p.name }}</option>
                                    {% endfor %}
                                </select>

                                <img id="opt_loader_place"
                                     style="height: 16px;width: 16px;margin-top: -4px;display: none"
                                     src="{{ asset('build/img/front_end/loading.gif') }}" alt=""/>

                            </div>

                            <div class="form-group">
                                <label for="sub_place">Semt / Mahalle</label><br>
                                <select name="sub_place" id="sub_place" class="form-control">
                                </select>
                                <input type="hidden" id="sub_place_id" value="{{ app.request.get('sub_place') }}">

                            </div>


                            <div class="form-group">
                                <button type="submit">{{ 'ptv.search_button'|trans({}, 'ptv') }}</button>
                            </div>

                        </form>

                        <a href="{{ path('ptv') }}" class="btn btn-default btn-block">
                            Aramayı Sıfırla
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ptv') }}
{% endblock %}