{% extends 'web_site/base.html.twig' %}

{% block title %}Gezilecek Yerler | {{ ptv.name }}{% endblock %}


{% block metaTags %}
    <meta name="description" lang="tr" content="Edremit Körfezi - Gezilecek Yerler: {{ ptv.name }}"/>

    <!-- Open Graph Meta Tags -->
    <meta property="og:site_name" content="www.edremitkorfezi.com"/>
    <meta property="og:title" content="Edremit Körfezi - Gezilecek Yerler: {{ ptv.name }}"/>
    <meta property="og:description" content="Edremit körfezinde gezilecek yerler: {{ ptv.name }}"/>
    <meta property="og:image" content="{{ asset('build/img/front_end/logo.png') }}"/>
    <meta property="og:url" content="https://www.edremitkorfezi.com/gezilecek-yerler/{{ ptv.slug }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:article:tag" content="Edremit Körfezi - Gezilecek Yerler: {{ ptv.name }}"/>
    <meta property="og:article:author" content="Edremit Körfezi"/>
    <meta property="og:locale" content="tr_TR"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@edremitkorfezi"/>
    <meta name="twitter:creator" content="@edremitkorfezi"/>
    <meta name="twitter:url" content="https://www.edremitkorfezi.com/gezilecek-yerler/{{ ptv.slug }}"/>
    <meta name="twitter:title" content="Edremit Körfezi - Gezilecek Yerler: {{ ptv.name }}"/>
    <meta name="twitter:description" content="Edremit körfezinde gezilecek yerler: {{ ptv.name }}"/>
    <meta name="twitter:image:src" content="{{ asset('build/img/front_end/logo.png') }}"/>
    <meta name="twitter:domain" content="edremitkorfezi.com"/>
    <!-- TODO meta etiketleri ptv için düzenle  -->

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {#{{ encore_entry_link_tags('article_detail') }}#}
{% endblock %}


{% block body %}

    <!-- Blog -->
    <section class="p_b20 p_t20 bg_lightgry" id="blog">
        <div class="container">

            <div class="row">

                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="blog heading">

                        <h2>{{ ptv.name }} ({{ ptv.place.name }})</h2>

                        {% if ptv.featuredPicture|length > 10 %}
                            <div class="blog-img" style="height: 470px; overflow: hidden;">
                                <img alt="image" style="width: 870px; height: 470px;"
                                     src="{{ asset('uploads/ptv/'~ptv.featuredPicture) }}">
                            </div>
                        {% endif %}


                        <div class="blog-detail">



                            <ul class="blog-admin">
                                <li>
                                    <div class="sharethis-inline-share-buttons"></div>
                                </li>
                                <!--
                                <li>
                                    <i class="fa fa-user"></i>Posted By:<a href="#">
                                        Admin</a>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">
                                        March 16, 2015</a>
                                </li>
                                <li>
                                    <i class="fa fa-comment"></i>
                                    <a href="#">4 Comments</a>
                                </li>
                                -->
                            </ul>
                            <p>
                                {{ ptv.about|raw }}
                            </p>
                        </div>

                    </div>



                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">

                    <div class="right-bar bg_white">
                        <a href="javascript:history.back()"><i class="fa fa-caret-left"></i> Geri Dön</a>
                    </div>

                    <div class="right-bar bg_white">
                        <h4>Daha Fazla <span>Bilgi Edinin</span></h4>
                        <div id="cd-google-map">
                            <div id="google-container">
                                <iframe
                                        width="242"
                                        height="200"
                                        style="border:0"
                                        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAtD3O2TAtjHPQkIoZV1bOmqmgxEwbsTyk
                                        &q={{ ptv.mapsEmbedStr }}" allowfullscreen>
                                </iframe>

                            </div>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>{{ ptv.address }}</p>
                            <p><i class="fa fa-phone" aria-hidden="true"></i>{{ ptv.phone }}</p>
                            <p><i class="fa fa-globe" aria-hidden="true"></i> <a target="_blank"
                                                                                 href="{{ ptv.web }}">{{ ptv.web }}</a>
                            </p>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section>
    <!-- Blog -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#{{ encore_entry_script_tags('article_detail') }}#}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fdef44c035860001143952d&product=inline-share-buttons"
            async="async"></script>
{% endblock %}