<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


        <!-- search form -->
        <!--
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
            </div>
        </form>
        -->
        <!-- /.search form -->

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            <li>
                <a href="{{ path('homepage') }}">
                    <i class="fa fa-home"></i> <span>Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_dashboard') }}">

                    {% if is_granted('ROLE_ADMIN') %}
                        <i class="fa fa-dashboard"></i> <span>Kontrol Merkezi</span>
                    {% else %}
                        <i class="fa fa-user"></i> <span>Profil</span>
                    {% endif %}


                </a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-map-marker"></i> <span>Yerleşim Yerleri</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('place_new') }}"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
                        <li><a href="{{ path('place_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-heart"></i> <span>Gezilecek Yerler</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('places_to_visit_new') }}"><i class="fa fa-circle-o"></i> Yeni Ekle</a>
                        </li>
                        <li><a href="{{ path('places_to_visit_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
                    </ul>
                </li>


                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-building"></i> <span>Belediyeler</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('municipality_new') }}"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
                        <li><a href="{{ path('municipality_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-list"></i> <span>Kategoriler</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#">
                                <span>İş Yeri Kategorileri</span>
                                <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('business_category_new') }}"><i class="fa fa-circle-o"></i> Yeni
                                        Ekle</a></li>
                                <li><a href="{{ path('business_category_index') }}"><i class="fa fa-circle-o"></i> Liste</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <span>İlan Kategorileri</span>
                                <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('ad_category_new') }}"><i class="fa fa-circle-o"></i> Yeni
                                        Ekle</a></li>
                                <li><a href="{{ path('ad_category_index') }}"><i class="fa fa-circle-o"></i> Liste</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>Etkinlikler</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('event_new') }}"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
                    <li><a href="{{ path('event_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-microphone"></i> <span>Duyurular</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('announce_new') }}"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
                    <li><a href="{{ path('announce_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i> <span>İlanlar</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('advert_new') }}"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
                    <li><a href="{{ path('advert_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-home"></i> <span>İş Yerleri</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('business_new') }}"><i class="fa fa-circle-o"></i> Yeni Ekle</a></li>
                    <li><a href="{{ path('business_index') }}"><i class="fa fa-circle-o"></i> Liste</a></li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>