{% extends 'base.html.twig' %}

{% block title %}Belediyeler{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('municipality') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Belediyeler
            <small>Liste</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li class="active"><a href="{{ path('municipality_index') }}">Belediyeler</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <!--
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                -->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="example1_wrapper"
                                 class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
                                <table id="example1" class="table table-bordered table-striped
                                table-hover table-condensed
                                dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_desc">Name</th>
                                        <th>Mayor</th>
                                        <th>Web</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Fax</th>
                                        <th>Map</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for municipality in municipalities %}
                                        <tr>
                                            <td>{{ municipality.name }}</td>
                                            <td>{{ municipality.mayor }}</td>
                                            <td>{{ municipality.web }}</td>
                                            <td>{{ municipality.email }}</td>
                                            <td>{{ municipality.phone }}</td>
                                            <td>{{ municipality.fax }}</td>
                                            <td>{{ municipality.map }}</td>
                                            <td>
                                                <a class="btn btn-xs btn-primary pull-left"
                                                   href="{{ path('municipality_show', {'id': municipality.id}) }}">Göster</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="12">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>


    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}

{% endblock %}




{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('municipality') }}
{% endblock %}

