{% extends 'base.html.twig' %}

{% block title %}Belediyeler{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('municipality') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Belediyeler
            <small>{{ municipality.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('municipality_index') }}">Belediyeler</a></li>
            <li class="active"><a href="{{ path('municipality_show', {id:municipality.id}) }}">
                    {{ municipality.name }}</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}


    <div class="box">

        <!--
        <div class="box-header with-border">
            <h3 class="box-title">Gezilecek Yerler</h3>
        </div>

       -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Belediye</th>
                            <td>{{ municipality.name }}</td>
                        </tr>
                        <tr>
                            <th>Yerleşim Yeri</th>
                            <td>
                                {% if municipality.place %}
                                    {{ municipality.place.name}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hakkında</th>
                            <td>{{ municipality.about[:500]|striptags }}&hellip;</td>
                        </tr>
                        <tr>
                            <th>Web</th>
                            <td>{{ municipality.web }}</td>
                        </tr>
                        <tr>
                            <th>Eposta</th>
                            <td>{{ municipality.email }}</td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td>{{ municipality.phone }}</td>
                        </tr>
                        <tr>
                            <th>Faks</th>
                            <td>{{ municipality.fax }}</td>
                        </tr>
                        <tr>
                            <th>Ekstra Bilgi</th>
                            <td>{{ municipality.extraInfo }}</td>
                        </tr>
                        <tr>
                            <th>Öne Çıkan Resim</th>
                            <td>
                                {% if municipality.featuredPicture|length > 0 %}

                                    <img src="{{ asset('uploads/municipality/')~municipality.featuredPicture }}" width="300"
                                         height="225"/>
                                    <a class="btn-default btn-xs"
                                       href="{{ path('municipality_featured_photo_delete',
                                           {municipality:municipality.id,
                                               _token:csrf_token('delete-featured-photo'~municipality.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('Are you sure you want to delete this item?');"
                                       style="position: absolute;"><i class="fa fa-close"></i></a>

                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Başkan Hakkında</th>
                            <td>{{ municipality.mayor[:500]|striptags }}&hellip;</td>
                        </tr>
                        <tr>
                            <th>Başkan Fotoğrafı</th>
                            <td>
                                {% if municipality.mayorPhoto|length > 0 %}

                                    <img src="{{ asset('uploads/mayor/')~municipality.mayorPhoto }}" width="300"
                                         height="225"/>
                                    <a class="btn-default btn-xs"
                                       href="{{ path('municipality_mayor_photo_delete',
                                           {municipality:municipality.id,
                                               _token:csrf_token('delete-mayor-photo'~municipality.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('Are you sure you want to delete this item?');"
                                       style="position: absolute;"><i class="fa fa-close"></i></a>

                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ path('municipality_index') }}" class="btn btn-primary" style="margin-right: 10px;">Liste</a>
            <a href="{{ path('municipality_edit', {'id': municipality.id}) }}" class="btn btn-warning"
               style="margin-right: 10px;">Düzenle</a>
            <!-- Button trigger modal -->
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Sil
            </a>
            {{ include('municipality/_delete_form.html.twig') }}
        </div>
        <!-- /.box-footer-->
    </div>



    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('municipality') }}
{% endblock %}