{% extends 'base.html.twig' %}

{% block title %}İlanlar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('place_an_ad') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            İlanlar
            <small>Liste</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li class="active"><a href="{{ path('advert_index') }}">İlanlar</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <!--
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                -->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="example1_wrapper"
                                 class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
                                <table id="example1" class="table table-bordered table-striped
                                table-hover table-condensed
                                dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th>Onay Durumu</th>
                                        <th>Son Güncelleme</th>
                                        <th>İlan Başlığı</th>
                                        <th>Bölge</th>
                                        <th>Fiyat (TL)</th>
                                        <th>Telefon</th>
                                        <th>Ekleyen</th>
                                        <th>İlan Durumu</th>
                                        <th>İlan Tipi</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for advert in adverts %}
                                        <tr>
                                            <td>
                                                {% if  advert.confirm == 0 %}
                                                    <span class="label label-warning">
                                        <i class="fa fa-clock-o"></i>
                                        Yönetici Onayı Bekleniyor</span>
                                                {% else %}
                                                    <span class="label label-success">
                                        <i class="fa fa-check"></i>
                                         Onaylandı</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ advert.lastUpdate ? advert.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ advert.title[:20]|striptags }}&hellip;</td>
                                            <td>{{ advert.place ? advert.place.name : '' }}</td>
                                            <td>{{ advert.price }}</td>
                                            <td>{{ advert.telephone }}</td>
                                            <td>{{ advert.user.email }}</td>
                                            <td>{{ advert.status }}</td>
                                            <td>{{ advert.type }}</td>
                                            <td>
                                                <a class="btn btn-xs btn-primary pull-left"
                                                   href="{{ path('advert_show', {'id': advert.id}) }}">Göster</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="11">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('place_an_ad') }}
{% endblock %}