{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        İlan Yönetimi
    {% else %}
        İlanlarım
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('place_an_ad') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            Yeni ilan eklemektesiniz
            <small>adım (1/2)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('advert_index') }}">
                    {% if is_granted('ROLE_ADMIN') %}
                        İlan Yönetimi
                    {% else %}
                        İlanlarım
                    {% endif %}
                </a></li>
            <li class="active"><a href="{{ path('advert_new') }}">Yeni Ekle</a></li>
        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!--
                <div class="box-header with-border">
                    <h3 class="box-title">Gezilecek Yerler - Yeni Ekle</h3>
                </div>-->
                <!-- /.box-header -->
                <!-- form start -->

                {{ include('advert/_form.html.twig') }}


                <div class="box-footer">
                    <a class="btn btn-primary" style="margin-right: 10px;" href="{{ path('advert_index') }}">
                        Liste</a>
                    <button class="btn btn-success">{{ button_label|default('Kaydet') }}</button>

                </div>



                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_script_tags('place_an_ad') }}


{% endblock %}
