{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        İlan Yönetimi
    {% else %}
        İlanlarım
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('place_an_ad') }}
{% endblock %}                                                                       

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            İlan Detayı
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li><a href="{{ path('advert_index') }}">
                    {% if is_granted('ROLE_ADMIN') %}
                        İlan Yönetimi
                    {% else %}
                        İlanlarım
                    {% endif %}
                </a></li>
            <li class="active">İlan Detayı</li>

        </ol>
    </section>

{% endblock %}

{% block body %}


    <div class="box">

        <!--
        <div class="box-header with-border">
            <h3 class="box-title">Gezilecek Yerler</h3>
        </div>

       -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                        <tr>
                            <th>İlan Başlığı</th>
                            <td>{{ advert.title }}</td>
                        </tr>
                        <tr>
                            <th>İlan Sahibi</th>
                            <td>{{ advert.owner }}</td>
                        </tr>

                        <tr>
                            <th>Bölge</th>
                            <td>
                                {% if advert.place %}
                                    {{ advert.place.name }}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th>Fiyat (TL)</th>
                            <td>{{ advert.price }}</td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td>{{ advert.telephone }}</td>
                        </tr>
                        <tr>
                            <th>Eposta</th>
                            <td>{{ advert.email }}</td>
                        </tr>
                        <tr>
                            <th>İlan Durumu</th>
                            <td>{{ advert.status|trans({},'advert') }}</td>
                        </tr>
                        <tr>
                            <th>Son Güncelleme</th>
                            <td>{{ advert.lastUpdate ? advert.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>

                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <th>İlan Açıklaması</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ advert.description|raw }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <th>İlan Görseli</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                {% if advert.featuredImage|length > 0 %}

                                    <img alt="" src="{{ asset('uploads/place_an_ad/')~advert.featuredImage }}"
                                         width="400"
                                         height="216"/>
                                    <a class="btn-default btn-xs"
                                       href="{{ path('advert_featured_photo_delete',
                                           {advert:advert.id,
                                               _token:csrf_token('delete-featured-photo'~advert.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('{{ 'advert_delete_featured_image'|trans }}');"
                                       style="position: absolute;"><i class="fa fa-close"></i></a>


                                {% endif %}

                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <div class="col-sm-4">

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>

                                        <a href="{{ path('advert_index') }}" class="btn btn-primary"
                                           style="margin-right: 10px;">
                                            <i class="fa fa-caret-left"></i>
                                            İlanlarım</a>




                                        <a href="{{ path('advert_edit', {'id': advert.id}) }}" class="btn btn-warning"
                                           style="margin-right: 10px;">
                                            <i class="fa fa-pencil-square-o"></i>
                                            Düzenle</a>



                                        <!-- Button trigger modal -->
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                            <i class="fa fa-trash-o"></i>
                                            Sil
                                        </a>
                                        {{ include('advert/_delete_form.html.twig') }}



            
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>


                                {% if  advert.confirm == 0 %}  {#onay bekleniyor#}

                                    <div class="callout callout-warning">
                                        <h4>
                                            <i class="icon fa fa-clock-o"></i>
                                            Onay Bekliyor!
                                        </h4>
                                        <p>
                                            İlanınınız onaya gönderilmiş durumda. İncelendikten
                                            sonra yayına alınacaktır. Onaylandığında, tarafınıza otomatik olarak
                                            eposta gönderilecektir.<br>
                                            <a style="font-weight: bold" href="{{ path('advert_save_as_draft',
                                                {id:advert.id,_token:csrf_token('advert_save_as_draft' ~ advert.id)}) }}">
                                                İptal etmek için tıklayınız
                                            </a>
                                        </p>
                                    </div>

                                {% elseif advert.confirm == 1 %} {#onaylandı#}

                                    <div class="callout callout-success">
                                        <h4>
                                            <i class="icon fa fa-check-circle-o"></i> İlanınız Yayındadır.
                                        </h4>
                                        <p>
                                            <b>Dikkat!</b> İlanınızı yeniden düzenlerseniz, otomatik olarak
                                            yayından kaldırılır ve yeniden onaya gönderilmesi
                                            gerekir.
                                        </p>
                                    </div>

                                {% elseif advert.confirm == 2 %} {#taslak olarak kaydedildi#}

                                    <div class="callout callout-info">
                                        <h4>
                                            <i class="icon fa fa-info-circle"></i> Henüz Yayında Değil!
                                        </h4>
                                        <p>
                                            Lütfen son kontrollerinizi yapın ve onaylanması için
                                            "Onaya Gönder" butonuna tıklayın.
                                        </p>
                                    </div>

                                {% endif %}



                                {% if  advert.confirm == 0 %}  {#onay bekleniyor#}

                                    <br>

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('advert_confirm',
                                            {id:advert.id,_token:csrf_token('confirm' ~ advert.id)}) }}"
                                           class="btn btn-danger btn-block btn-lg" style="margin-right: 10px;">
                                            <i class="fa fa-check-circle-o"></i> Yönetici Olarak Yayına Al
                                        </a>
                                    {% endif %}

                                {% elseif advert.confirm == 1 %} {#onaylandı#}

                                    <br>

                                    {% if is_granted('ROLE_ADMIN') %}

                                        <a href="{{ path('advert_unconfirm',
                                            {id:advert.id,_token:csrf_token('unconfirm' ~ advert.id)}) }}"
                                           class="btn btn-danger btn-block btn-lg">
                                            <i class="fa fa-close"></i> Yönetici Olarak Yayından Kaldır
                                        </a>
                                    {% endif %}

                                {% elseif advert.confirm == 2 %} {#taslak olarak kaydedildi#}

                                    <br>

                                    <a href="{{ path('advert_send_confirmation_request',
                                        {id:advert.id,_token:csrf_token('advert_send_confirmation_request' ~ advert.id)}) }}"
                                       class="btn btn-lg btn-success btn-block" style="margin-right: 10px;">
                                        <i class="fa fa-check-circle-o"></i>
                                        Onaya Gönder</a>

                                {% endif %}


                            </td>
                          
                        </tr>
                        </tbody>
                    </table>





                </div>
            </div>

        </div>
        <!-- /.box-body -->
        {#<div class="box-footer"> </div>#}
        <!-- /.box-footer-->
    </div>



    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('place_an_ad') }}
{% endblock %}