{% extends 'base.html.twig' %}

{% block title %}İlanlar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('place_an_ad') }}
{% endblock %}                                                                       

{% block breadcrumb %}

        <section class="content-header">
            <h1>
                İlan Detayı
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
                <li><a href="{{ path('advert_index') }}">İlanlar</a></li>
                <li class="active">İlan Detayı</li>

            </ol>
        </section>

{% endblock %}

{% block body %}


    <div class="box">

        <!--
        <div class="box-header with-border">
            <h3 class="box-title">Gezilecek Yerler</h3>
        </div>

       -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                        <tr>
                            <th>İlan Başlığı</th>
                            <td>{{ advert.title }}</td>
                        </tr>
                        <tr>
                            <th>İlan Sahibi</th>
                            <td>{{ advert.owner }}</td>
                        </tr>

                        <tr>
                            <th>Bölge</th>
                            <td>
                                {% if advert.place %}
                                    {{ advert.place.name }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Son Güncelleme</th>
                            <td>{{ advert.lastUpdate ? advert.lastUpdate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Fiyat (TL)</th>
                            <td>{{ advert.price }}</td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td>{{ advert.telephone }}</td>
                        </tr>
                        <tr>
                            <th>Eposta</th>
                            <td>{{ advert.email }}</td>
                        </tr>
                        <tr>
                            <th>İlan Durumu</th>
                            <td>{{ advert.status|trans({},'advert') }}</td>
                        </tr>

                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <th>İlan Açıklaması</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ advert.description|raw }}</td>
                        </tr>
                        </tbody>
                    </table>


                    <table class="table table-bordered" style="display: none">
                        <tbody>
                        <tr>
                            <th>Ekleyen</th>
                            <td>{{ advert.user.email }}</td>
                        </tr>

                        {#                        <tr>#}
                        {#                            <th>Ekleyen Üye Tipi</th>#}
                        {#                            <td>#}
                        {#                                {% for roles in advert.user.roles %}#}
                        {#                                    {{ roles }}#}
                        {#                                {% endfor %}#}
                        {#                            </td>#}
                        {#                        </tr>#}
                        </tbody>
                    </table>

                </div>
                <div class="col-sm-6">

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>
                                <a href="{{ path('advert_index') }}" class="btn btn-primary" style="margin-right: 10px;">
                                    <i class="fa fa-caret-left"></i>
                                    İlanlarıma Git</a>
                                <a href="{{ path('advert_edit', {'id': advert.id}) }}" class="btn btn-warning"
                                   style="margin-right: 10px;">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Bu İlanı Düzenle</a>
                                <!-- Button trigger modal -->
                                <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-trash-o"></i>
                                    Bu İlanı Sil
                                </a>
                                {{ include('advert/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Onay Durumu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{ advert.confirm}}    {# todo confirm 0,1,2 durumları için güncelle #}
                            </td>
                            <td>
                                {% if  advert.confirm == 0 %}
                                    <span class="label label-warning">
                                        <i class="fa fa-clock-o"></i>
                                        Yönetici Onayı Bekleniyor</span><br><br>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('advert_confirm',
                                            {id:advert.id,_token:csrf_token('confirm' ~ advert.id)}) }}"
                                           class="btn btn-success" style="margin-right: 10px;">Onayla</a>
                                    {% endif %}
                                {% else %}
                                    <span class="label label-success">
                                        <i class="fa fa-check"></i>
                                         Onaylandı</span><br><br>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('advert_unconfirm',
                                            {id:advert.id,_token:csrf_token('unconfirm' ~ advert.id)}) }}"
                                           class="btn btn-danger" style="margin-right: 10px;">Yayından Kaldır</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <table class="table table-bordered">
                        <tbody>

                        <tr>
                            <th>İlan Görseli</th>
                            <td>

                                {% if advert.featuredImage|length > 0 %}

                                    <img alt="" src="{{ asset('uploads/place_an_ad/')~advert.featuredImage }}"
                                         width="300"
                                         height="225"/>
                                    <a class="btn-default btn-xs"
                                       href="{{ path('advert_featured_photo_delete',
                                           {advert:advert.id,
                                               _token:csrf_token('delete-featured-photo'~advert.id)}) }}"
                                       target="_self"
                                       onclick="return confirm('Are you sure you want to delete this item?');"
                                       style="position: absolute;"><i class="fa fa-close"></i></a>


                                {% endif %}

                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>

        </div>
        <!-- /.box-body -->
        {#<div class="box-footer"> </div>#}
        <!-- /.box-footer-->
    </div>



    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('place_an_ad') }}
{% endblock %}