<!-- Directory Category -->
<section id="directory-category" class="p_b30 p_t30">
    <div class="container">
       
        <div class="row">
            <div class="col-md-12">
                <div class="directory-category-box dating text-center"> <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'eat'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.eat }}</p>
                </div>

                <div class="directory-category-box industry text-center"> <span><i class="fa fa-glass" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'cafe-bar'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.cafe }}</p>
                </div>

                <div class="directory-category-box beauty text-center"> <span><i class="fa fa-hotel" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'hotel'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.hotel }}</p>
                </div>

                <div class="directory-category-box beauty text-center"> <span><i class="fa fa-bed" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'hostel'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.hostel }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-tree" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'camp'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.camp }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-bus" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'tour-travel'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.tour }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'health-beauty'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.health }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-car" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'car'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.car }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-wrench" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'repair-service'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.repair }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-taxi" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'taxi'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.taxi }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-taxi" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'law'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.law }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-file" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'insurance'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.insurance }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-home" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'real-estate'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.realestate }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'market'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.market }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'shop'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.shop }}</p>
                </div>

                <div class="directory-category-box text-center"> <span><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                    <a href="#">
                        <h3>{{ 'other'|trans({}, 'business')}}</h3>
                    </a>
                    <p>{{ business_count.other }}</p>
                </div>

              
            </div>
        </div>
    </div>
</section>
<!-- Directory Category -->