<!-- Footer -->
<footer id="footer">
    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-about">
                    <img src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/logo.png" alt="image">
                    <p>Lorem ipsum dolor amet consectur adipiscing elit sed do eiusmod tempor incididunt. Lorem ipsum dolor amet consectur adipiscing, Lorem
                        ipsum dolor amet consectur adipiscing elit sed do eiusmod tempor incididunt...</p>
                    <a href="about.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-links">
                    <h3>Hızlı <span>Menü</span></h3>
                    <ul>
                        <li><a href="{{ path('business_new',{from:'business_new'}  ) }}">İşinizi Ekleyin</a></li>
                        <li><a href="{{ path('advert_new',{from:'advert_new'}) }}">İlan Ekleyin</a></li>
                        <li><a href="{{ path('event_new',{from:'event_new'}  ) }}">Etkinlik Ekleyin</a></li>
                        <li><a href="{{ path('announce_new',{from:'announce_new'}  ) }}">Duyuru Ekleyin</a></li>


                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-links">
                    <h3>EN SON <span>TWEETLER</span></h3>
                    <div class="footer-latest">
                        <a class="twitter-timeline" data-lang="tr" data-width="290" data-height="545"
                           data-theme="light" href="https://twitter.com/edremitkorfezi?ref_src=twsrc%5Etfw">Tweets by edremitkorfezi</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-links">
                    <h3>Facebook <span></span></h3>
                    <div class="footer-latest">
                        <div class="fb-page" data-href="https://www.facebook.com/edremitkorfezportali/"
                             data-tabs="timeline" data-width="" data-height="" data-small-header="false"
                             data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/edremitkorfezportali/"
                                        class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/edremitkorfezportali/">
                                    Edremit Körfezi</a></blockquote></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="footer-newsletter">
                    <span>GELİŞMELERDEN HABERDAR OLMAK İÇİN</span>
                    <h2>E-BÜLTENİMİZE ABONE OLUN</h2>

                    <form method="post" action="{{ path('add_subscriber') }}">
                        <div class="sub-newsletter">

                            <input type="email" name="subscribe_email" required
                                   autocomplete="off"
                                   placeholder="E-posta adresinizi giriniz...">
                            <input type="hidden" name="subscribe_token" value="{{ csrf_token('subscribe-item') }}"/>
                            <button type="submit">Abone Ol</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-copyright">
                    <p>
                        Copyright &copy; 2021 <a href="http://www.epikod.com" target="_blank">Epikod Yazılım</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- Footer -->

