<!-- HEADER -->
<header id="main_header">
    <div id="header-top">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-5 col-xs-12">

                    <div class="top-contact">
                        <p>Whatsapp: <span>+90 542 791 07 30</span> eposta: <span>tnrdll@gmail.com</span>
                        </p>
                    </div>

                </div>

                <div class="col-md-6 col-sm-7 col-xs-12 top_right_links">


                    <ul class="top_links">
                        <li>
                            {% if app.user %}
                                <a href="{{ path('app_dashboard') }}">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    {{ app.user.email[:30] }}
                                </a>
                            {% else %}
                                <a href="{{ path('app_login') }}">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Giriş Yap
                                </a>
                            {% endif %}
                        </li>
                    </ul>


                    <div class="add-listing"><a href="{{ path('add_to_lists') }}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Ücretsiz Ekle</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-sticky bootsnav">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
                                    class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage') }}"><img
                                    src="http://127.0.0.1/edremitkorfezi.com/assets/img/front_end/logo.png" class="logo"
                                    alt="">
                        </a>
                    </div>
                    <!-- End Header Navigation -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">

                            <li><a href="{{ path('homepage') }}" class="dropdown-toggle" data-toggle="dropdown">Ana
                                    Sayfa</a></li>

                            {{ render(controller('App\\Controller\\WebSiteController::travelGuideEmbeddedMenu')) }}




                            <li>
                                <a href="{{ path('events') }}" class="dropdown-toggle" data-toggle="dropdown">Etkinlikler</a>
                            </li>

                            <li>
                                <a href="{{ path('announces') }}" class="dropdown-toggle" data-toggle="dropdown">Duyurular</a>
                            </li>




                            <! ilan menusu ->
                            {{ render(controller('App\\Controller\\WebSiteController::advertMenu')) }}


                            <li>
                                <a href="{{ path('business_guide') }}" class="dropdown-toggle" data-toggle="dropdown">
                                    İşletme Rehberi
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- HEADER  -->