<!-- Popular Listing -->
<section id="popular-listing" class="p_b70 p_t30">
    <div class="container">

        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="row">
                    <div class="col-md-12 heading">
                        <h2>Son Eklenen <span>İşletmeler</span></h2>
                    </div>
                </div>

                <div class="row">


                    {% for b in business %}

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="popular-listing-box">
                                <div class="popular-listing-img">
                                    <figure class="effect-ming">
                                        {% if b.featuredPicture %}

                                            <img src="{{ asset('uploads/business/') }}/{{ b.featuredPicture }}" alt="image">
                                        {% else %}
                                            <img src="{{ asset('build/img/no-image.png') }}" alt="image">
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="popular-listing-detail">
                                    <h3><a href="#">{{ b.name }}</a></h3>
                                </div>
                                <div class="popular-listing-add">
                                    {#<span><i class="fa fa-map-marker" aria-hidden="true"></i>{{ b.place.parent.name }}-{{ b.place.name }}</span>
                                    <span><i class="fa fa-tag" aria-hidden="true"></i>{{ b.category.shortName|trans({}, 'business') }}</span>#}
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>


            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="right-bar">
                    <h4 style="padding-bottom: 10px">Son Eklenen <span>Yazılar</span></h4>

                    {% for a in articles %}
                        <div class="places-list">
                            <div class="media">
                                <div class="media-heading">
                                    <h5>{{ a.authorName }}:</h5>
                                </div>
                                <div class="media-left">
                                        <img class="img-circle"
                                             style="max-width: 64px; max-height: 64px;"
                                             src="{{ asset('uploads/user/picture/') }}{{ a.user.picture }}" alt="image">
                                </div>
                                <div class="media-right">
                                    <a href="#" style="text-decoration: underline">
                                        {{ a.title }} &raquo;
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <hr>

                    <a href="{{ path('articles')}}" class="btn-block flat-butt flat-primary-butt" style="color: #FFFFFF;text-align: center">
                        Tüm Yazılar
                    </a>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Popular Listing -->