<!-- Popular Listing -->
<section id="popular-listing" class="p_b70 p_t30">
    <div class="container">

        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="row">
                    <div class="col-md-12 heading">
                        <h2>Öne Çıkan <span>İşletmeler</span></h2>
                    </div>
                </div>

                <div class="row">


                    {% for b in business %}

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="popular-listing-box">
                                <div class="popular-listing-img">
                                    <figure class="effect-ming">
                                        {% if b.featuredPicture %}

                                            <img src="{{ asset('uploads/business/') }}/{{ b.featuredPicture }}" alt="image">
                                        {% else %}
                                            <img src="{{ asset('build/img/no-image.png') }}" alt="image">
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="popular-listing-detail">
                                    <h3><a href="#">{{ b.name }}</a></h3>
                                </div>
                                <div class="popular-listing-add">
                                    {#<span><i class="fa fa-map-marker" aria-hidden="true"></i>{{ b.place.parent.name }}-{{ b.place.name }}</span>
                                    <span><i class="fa fa-tag" aria-hidden="true"></i>{{ b.category.shortName|trans({}, 'business') }}</span>#}
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>


            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="right-bar">
                    <h4><span>Yazar</span> Köşesi</h4>

                    <div class="places-list">
                        <h5><a href="#">Four Seasons Hotel</a></h5>
                        <p> 57 East 57th Street, New York 10022</p>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/footer-latest-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><i class="fa fa-glass" aria-hidden="true"></i> Restaurant</h6>
                                <img src="images/stars.png">
                            </div>
                        </div>
                    </div>

                    <div class="places-list">
                        <h5><a href="#">Real Estate</a></h5>
                        <p> 57 East 57th Street, New York 10022</p>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/footer-latest-2.jpg" alt="image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><i class="fa fa-glass" aria-hidden="true"></i> Real Estate</h6>
                                <img src="images/stars.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="places-list">
                        <h5><a href="#">Beauty &amp; Spa</a></h5>
                        <p> 57 East 57th Street, New York 10022</p>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/footer-latest-3.jpg" alt="image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><i class="fa fa-glass" aria-hidden="true"></i> Beauty &amp; Spa</h6>
                                <img src="images/stars.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="places-list">
                        <h5><a href="#">Shoping</a></h5>
                        <p> 57 East 57th Street, New York 10022</p>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/footer-latest-4.jpg" alt="image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><i class="fa fa-glass" aria-hidden="true"></i> Shoping</h6>
                                <img src="images/stars.png" alt="image">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Popular Listing -->