{% form_theme form 'form/fields.html.twig' %}
<div class="box-body">
    {{ form_start(form, {'attr': {'id': 'article_form'}}) }}
    <div class="col-md-8">
        <div class="form-group">
            {{ form_label(form.title, 'Yazı Başlığı') }}
            {{ form_widget(form.title) }}
        </div>


        <div class="form-group">
            {{ form_label(form.article, 'Yazı') }}
            {{ form_widget(form.article) }}
        </div>

    </div>

    <div class="col-md-4">

        <div class="callout">
            <p style="font-style: italic; color: red;">
                Oturum süresi sona ereceğinden,<br>yazınızın kaybolmaması için;<br>yazınızı önceden bir yazı editöründe hazırlamanızı,
                hazırladığınız yazıyı son aşama olarak buraya kaydetmenizi öneririz.
            </p>
        </div>

        <div class="callout">
            <p style="font-style: italic">
                Kontrol ve düzenleme süresinin daha kısa sürede tamamlanması için<br> lütfen
                yazılarınızı <b>elinizden geldiğince</b>, imlâ kurallarına uygun bir şekilde hazırlamaya özen gösteriniz.
            </p>
        </div>

        <a href="https://www.tdk.gov.tr/category/icerik/yazim-kurallari/" target="_blank">
            Türk Dil Kurumu Yazım (İmlâ) Kuralları Kılavuzu &raquo;
        </a>


    </div>
</div>