{% extends 'base.html.twig' %}
        
        {% block title %}
            {% if is_granted('ROLE_ADMIN') %}
                Yazı Yönetimi
            {% else %}
                Yazılarım
            {% endif %}
        {% endblock %}
        
        {% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('article') }}
        {% endblock %}
        
        {% block breadcrumb %}

            <section class="content-header">
                <h1>
                    Yeni yazı eklemektesiniz
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
                    <li><a href="{{ path('article_index') }}">
                            {% if is_granted('ROLE_ADMIN') %}
                                Yazı Yönetimi
                            {% else %}
                                Yazılarım
                            {% endif %}
                        </a></li>
                    <li class="active"><a href="{{ path('article_new') }}">Yeni Ekle</a></li>
                </ol>
            </section>

        {% endblock %}
        
        {% block body %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <!--
                        <div class="box-header with-border">
                            <h3 class="box-title">Gezilecek Yerler - Yeni Ekle</h3>
                        </div>-->
                        <!-- /.box-header -->
                        <!-- form start -->

                        {% if app.user.author is not null %}

                            {{ include('article/_form.html.twig') }}

                            <div class="box-footer">
                                {# <a class="btn btn-primary" style="margin-right: 10px;" href="{{ path('article_index') }}">
                                Liste</a> #}
                                <button type="button" id="new_article_submit_btn"
                                        class="btn btn-success">{{ button_label|default('Kaydet ve Onaya Gönder') }}</button>

                            </div>

                            {{ form_end(form) }}

                        {% else %}

                            <div class="callout callout-info">
                                <h4><i class="fa fa-warning"></i> Henüz yazar profili oluşturulmamış</h4>
                                <p>Lütfen, <a href="{{ path('app_dashboard') }}">Bilgilerim</a> ekranından yazar bilgilerinizi giriniz.</p>
                            </div>

                        {% endif %}


                    </div>
                </div>
            </div>

        {% endblock %}
        
        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('article') }}
        {% endblock %}
