{#<li class="dropdown megamenu-fw">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gezi Rehberi</a>
    <ul class="dropdown-menu megamenu-content" role="menu">
        <li>
            <div class="row">

                {% for p in ptv_category %}

                    <div class="col-menu col-md-3">


                        <a href="#">
                            {{ ('header_menu.'~p.shortName)|trans({},'travel_guide' ) }}
                        </a>


                    </div>

                {% endfor %}


            </div>


        </li>
    </ul>
</li>#}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gezi Rehberi</a>
    <ul class="dropdown-menu">
       {# {{ dump(ptv_category) }}#}

        {# @var p \App\Entity\PTVCategory  #}
        {% for p in ptv_category %}
            <li>
                <a href="{{ path('travel_guide', {category: p.slug}) }}">
                    {#{{ ('header_menu.'~p.short_name)|trans({},'travel_guide' ) }} ({{ p.count }})#}
                    {{ p.short_name|trans({},'travel_guide' ) }} ({{ p.count }})
                </a>
            </li>
        {% endfor %}
    </ul>
</li>