{% extends 'base.html.twig' %}

{% block title %}İş Yeri Kategorisi{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('business_category') }}
{% endblock %}

{% block breadcrumb %}

    <section class="content-header">
        <h1>
            İş Yeri Kategorileri
            <small>Sıralama</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="{{ path('app_dashboard') }}">Ana Sayfa</a></li>
            <li class="active"><a href="{{ path('business_category_index') }}">İş Yeri Kategorisi</a></li>

        </ol>
    </section>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <!--
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                -->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4">

                            <div id="sort_list" class="list-group"
                                 style="/*max-height: 500px;min-height:500px;overflow:auto;*/background: #eeeeee">

                                {% set all_names = [] %}
                                {% for cn in business_categories %}

                                    {% set all_names = all_names|merge([cn.shortName]) %}

                                    <div data-shortname="{{ cn.shortName }}" data-sort-no=""
                                         class="list-group-item" style="cursor: pointer">
                                        {{ cn.shortName|trans({}, 'business') }}
                                        <a href="{{ path('ad_category_show', {'id': cn.id}) }}"
                                           class="btn btn-xs btn-default pull-right">Göster</a>
                                    </div>

                                {% endfor %}

                            </div>


                            <input type="hidden" id="all_names" value="{{ all_names|json_encode }}"/>


                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <input type="hidden" id="success_message" value="{{ message }}"/>
    {% endfor %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_script_tags('business_category') }}
{% endblock %}